
<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

        <title>2016 ICT4D Conference</title>

        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="pingback" href="http://www.ict4dconference.org/xmlrpc.php">

        <!--[if lt IE 9]>
        <script src="http://www.ict4dconference.org/wp-content/themes/cfl/js/html5.js"></script>
        <![endif]-->

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="http://www.ict4dconference.org/wp-content/themes/cfl/favicon.ico" />

        <script>
            (function(d){
                var js, id = 'powr-js', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement('script'); js.id = id; js.async = true;
                js.src = '//www.powr.io/powr.js';
                js.setAttribute('powr-token','MC8OuEXBBL1449817784');
                js.setAttribute('external-type','wordpress');
                ref.parentNode.insertBefore(js, ref);
            }(document));
        </script>
        <link rel="alternate" type="application/rss+xml" title="2016 ICT4D Conference &raquo; Feed" href="http://www.ict4dconference.org/feed/" />
        <link rel="alternate" type="application/rss+xml" title="2016 ICT4D Conference &raquo; Comments Feed" href="http://www.ict4dconference.org/comments/feed/" />
        <script type="text/javascript">
            window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.ict4dconference.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}};
            !function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
        </script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel='stylesheet' id='contact-form-7-css'  href='css/style.css?ver=4.3.1' type='text/css' media='all' />
        <link rel='stylesheet' id='bootstrap-css'  href='css/bootstrap.min.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='grid-css'  href='css/cfl/cfl.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='fonts-css'  href='css/fonts.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='formalize-css'  href='css/formalize.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='superfish-css'  href='css/superfish.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='font-awesome-css'  href='css/font-awesome.min.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='animate-css'  href='css/animate.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='shortcodes-css'  href='css/shortcodes.css?ver=1.0' type='text/css' media='screen, projection' />
        <link rel='stylesheet' id='cfl-theme-settings-css-css'  href='css/layout.css' type='text/css' media='all' />
        <link rel='stylesheet' id='cfl-theme-font-sans-css'  href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700' type='text/css' media='all' />
        <link rel='stylesheet' id='cfl-theme-libre-css'  href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' type='text/css' media='all' />
        <link rel='stylesheet' id='cfl-style-css'  href='css/cfl/style.css?ver=4.5.3' type='text/css' media='all' />
        <link rel='https://api.w.org/' href='http://www.ict4dconference.org/wp-json/' />
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.ict4dconference.org/xmlrpc.php?rsd" />
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.ict4dconference.org/wp-includes/wlwmanifest.xml" />
        <meta name="generator" content="WordPress 4.5.3" />
        <link rel="canonical" href="http://www.ict4dconference.org/" />
        <link rel='shortlink' href='http://www.ict4dconference.org/' />
        <link rel="alternate" type="application/json+oembed" href="http://www.ict4dconference.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.ict4dconference.org%2F" />
        <link rel="alternate" type="text/xml+oembed" href="http://www.ict4dconference.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.ict4dconference.org%2F&#038;format=xml" />
        <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

        <script type="text/javascript">
            var ajaxurl = 'http://www.ict4dconference.org/wp-admin/admin-ajax.php';
        </script>


        <style type="text/css">
            /* Background colors */

            body, .widget-container a:link, .widget-container a:visited, strong {
                color: #00437b;
            }

            body{
                background-color: #ffffff;
            }


            /* Links, Buttons, Menu, other */

            a, .entry-meta, .cat-links, .comments-link, .meta-sep, .entry-utility, h6, .mobile-button i{
                color: #00437b;
            }

            a:hover, #accordion div{
                color: #f15d24;
            }

            #navigation ul li a, #navigation ul .menu-item-has-children:after, .cfl-nav-logo{
                color: #00437b;
            }

            button, input[type="submit"], input[type="reset"], input[type="button"], .button a, #accordion .ui-accordion-header-active,
            #tabs .ui-state-active a, #navigation ul.sub-menu li a:hover, #navigation ul.children li a:hover{
                color: #00437b;
                background: #00437b;
            }

            input, textarea, select, .uneditable-input, #tabs .tab-content{
                border-color: #00437b;
            }

            input:focus, textarea:focus{
                border-color: #00437b;
            }

            .slide-title a, .title-no-url{
                color: #00437b;
                background-color: rgba(0,67,123,0.8);
            }

            #accordion h3, #tabs .nav-tabs a {
                color: #00437b;
                background: rgba(0,67,123,0.5);
            }

            #accordion div, #tabs .tab-content{
                color: #00437b;
                background: rgba(0,67,123,0.1);
            }

            @media only screen and (max-width: 787px){
                #navigation .menu-box li:hover {
                    background: rgba(0,67,123,0.1);
                }
            }

            #tabs .ui-state-active a{
                background: #00437b;
            }

            /* Slider title, sidebar titles, blockquote, footer hover social, other */

            .slider-bottom-title  span{
                background-color: #00437b;
            }

            .flexslider .slides img{
                border-color: #00437b;
            }

            #content h2 a, #sidebar .widget-title, #nav-below .fa{
                color: #00437b;
            }

            #content blockquote{
                border-left-color: #00437b;
                background: rgba(0,67,123,0.2);
            }
        </style>
        <script>var current_week_url = "http://www.ict4dconference.org/";</script>	<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-71510048-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body class="home page page-id-22 page-template page-template-page-landing page-template-page-landing-php english">
        <div id="wrap">
            <div id="header">
                <div class="inner container">
                    <div class="header-right-block">
                        <!--						<div class="header_buttons">-->
                        <!--                            <a href="http://crsmaterials.crs.org/us-materials/rice-bowl/" target="_blank" class="button bg-green">Order Materials</a>-->
                        <!--						</div>-->
                    </div>
                    <span class="mobile-button"><i class="fa fa-bars fa-lg"></i></span>
                    <div class="mobile-logo">
                        <a href="/" title="Home" class="mobile-nav-logo"><img src="images/2016_ICT4D_RGB.png"></a>
                    </div>
                </div>
            </div>

            <div id="navigation" class="row"><div class="menu-box"><div class="container"><div class="menu-header">
                            <div class="header_left">
                                <!--<a href="http://www.ict4dconference.org" title="Home" class="cfl-nav-logo">ict4dconference</a>-->
                                <a href="http://www.ict4dconference.org" title="Home" class="cfl-nav-logo"><img src="images/2016_ICT4D_RGB.png"></a>
                            </div>
                            <div class="header_right">
                                <ul>
                                    <li id="menu-item-34" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a href="http://www.ict4dconference.org/about/">About</a></li>
                                    <li id="menu-item-769" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-769"><a href="http://www.ict4dconference.org/participants/">Participants</a></li>
                                    <li id="menu-item-33" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a href="http://www.ict4dconference.org/agenda/">Agenda</a></li>
                                    <li id="menu-item-32" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="http://www.ict4dconference.org/speakers/">Speakers</a></li>
                                    <li id="menu-item-753" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-753"><a href="http://www.ict4dconference.org/exhibitors/">Exhibitors</a></li>
                                    <li id="menu-item-162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-162"><a href="http://www.ict4dconference.org/challenges/">Challenge</a></li>


                                </ul>
                                <div>
                                    <form role="search" method="get" id="searchform" class="searchform" action="/" _lpchecked="1">
                                        <input type="text" value="" name="s" id="s" class="header_search" placeholder="Search...">
                                    </form>
                                </div>
                                <!--<div><form role="search" method="get" id="searchform" class="searchform" action="http://www.ict4dconference.org/">
                        <div>
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="text" value="" name="s" id="s" />
                            <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                    </form></div>-->
                            </div>
                        </div></div></div></div>                        <div class="row register-now header-register bg-orange" style="padding: 2.5px 0;">

                <!--div class="container"> <a href="/registration/"> <h2 style="border: 0px solid white; padding: 6px;" >Register Now for the 2016 conference &nbsp;<i class="fa fa-arrow-circle-right fa-3"></i></h2> </a>
                   <!-- <h2>Register for the 2016 conference <button class="button  white-box" style="border: 1px solid white;">Register now</button></h2>-->
                <!--<h2>REGISTRATION OPENS EARLY JANUARY – CHECK BACK SOON!</h2>-->
                </div-->
            </div>    <div class="row conference-container">
                <div class="container">
                    <div class="conference-box">
                        <div class="white-box">
                            <div>
                                <div class="small">Eighth Annual</div>
                                <img src="images/2016_ICT4D_RGB.png">
                                <div class="orange-text">
                                    <div class="large">From Innovation to Impact</div>
                                    <div class="padding">
                                        <div>Using Technology to Achieve</div>
                                        <div>the Sustainable Development Goals</div>
                                    </div>
                                    <div class="small">May 16-19, 2016 Nairobi, Kenya</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row bg-white sustainable-container">
                <div class="container">
                    <h2 class="logo text-center"><a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/" targe="_blank"><img src="images/sustainable-logo.png"></a></h2>
                    <div class="large">
                        This year's conference will bring together
                        thought leaders and experienced professionals
                        from around the world to share and explore
                        ways of using ICT to help achieve the
                        Sustainable Development Goals (SDGs).
                    </div>
                    <div class="icons-box">
                        <div class="first"><a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank">
                                <img src="images/E_SDG_Icons-01.png">
                                <img src="images/E_SDG_Icons-02.png">
                                <img src="images/E_SDG_Icons-03.png">
                                <img src="images/E_SDG_Icons-04.png">
                                <img src="images/E_SDG_Icons-05.png">
                                <img src="images/E_SDG_Icons-06.png">
                                <img src="images/E_SDG_Icons-07.png">
                                <img src="images/E_SDG_Icons-08.png">
                                <img src="images/E_SDG_Icons-09.png"> </a>
                        </div>
                        <div class="last"><a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/" target="_blank">
                                <img src="images/E_SDG_Icons-10.png">
                                <img src="images/E_SDG_Icons-11.png">
                                <img src="images/E_SDG_Icons-12.png">
                                <img src="images/E_SDG_Icons-13.png">
                                <img src="images/E_SDG_Icons-14.png">
                                <img src="images/E_SDG_Icons-15.png">
                                <img src="images/E_SDG_Icons-16.png">
                                <img src="images/E_SDG_Icons-17.png"></a>
                        </div>
                    </div>
                    <div class="text-center">
                        <br>
                        <a href="http://reliefweb.int/sites/reliefweb.int/files/resources/NetHope_SDG_ICT_Playbook_Final.pdf" class="button" target="_blank">SDG ICT Playbook</a>
                    </div>
                </div>
            </div>

            <div class="row register-now bg-orange" style="padding: 2.5px 0;">
                <!--div class="container">
                    <a href="/registration/"> <h2 style="border: 0px solid white; padding: 6px;" >Register Now for the 2016 conference &nbsp;<i class="fa fa-arrow-circle-right fa-3"></i></h2>
                </div-->
            </div>

            <div class="row bg-white organizing-partners-container">
                <div class="container margin-top-bottom">
                    <h2 class="text-center">ORGANIZING PARTNERS</h2>
                    <div class="table text-center">
                        <div class="table-cell">
                            <a href="https://www.accenture.com" target="_blank">
                                <img src="images/accenture-logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="https://www.crs.org" target="_blank">
                                <img src="images/logo-crs.jpg">
                            </a>
                        </div>

                        <div class="table-cell">
                            <a href="http://www.esri.com/" target="_blank">
                                <img src="images/esri_logo.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="table text-center">

                        <div class="table-cell">
                            <a href="https://www.hpe.com" target="_blank">
                                <img src="images/hewlett_packard_enterprise_logo.jpg">
                            </a>
                        </div>


                        <div class="table-cell">
                            <a href="http://imerit.net/" target="_blank">
                                <img src="images/imerit-logo-RED_tag-e1454089663683.png">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="https://www.mercycorps.org/" target="_blank">
                                <img src="images/horizontal_red_360-e1452106140444.png">
                            </a>
                        </div>
                    </div>

                    <div class="table col_4 text-center">

                        <div class="table-cell">
                            <a href="http://nethope.org/" target="_blank">
                                <img src="images/NetHope_Logo.jpg">
                            </a>
                        </div>

                        <div class="table-cell">
                            <a href="https://www.oxfam.org/" target="_blank">
                                <img src="images/OX_HL_C_RGB.jpg">
                            </a>
                        </div>

                        <div class="table-cell">
                            <a href="http://www.pandexio.com/" target="_blank">
                                <img src="images/Pandexio-logo-vector-large.png">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://wvi.org/" target="_blank">
                                <img src="images/wv_logo.jpg">
                            </a>
                        </div>
                    </div>




                </div>
            </div>

            <div class="row bg-orange conference-contact">
                <div class="container">
                    <a href="mailto:ICT4DMail@crs.org"><h2 class="text-center">Contact conference organizer <i class="fa fa-envelope-o fa-3"></i></h2></a>
                </div>
            </div>

            <div class="row bg-blue twitter-container">
                <div class="container">
                    <div class="feeds">
                        <a class="twitter-timeline" height="300" href="https://twitter.com/search?q=%23ICT4D%20OR%20%23ICT4D2016" data-widget-id="667811367458578432"></a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        <!--                <div class="twitt"></div>-->
                        <!--                <div class="twitt"></div>-->
                        <!--                <div class="twitt"></div>-->
                        <!--                <a class="twitter-timeline"  href="https://twitter.com/search?q=%23ICT4D%20OR%20%23ICT4D2016" data-widget-id="667811367458578432">Tweets about #ICT4D OR #ICT4D2016</a>-->
                    </div>
                    <div class="be-part-box">
                        <div>
                            <h4>Be Part of the Conversation</h4>
                            <h3>#ICT4D2016</h3>
                            <div class="social-icons-box">
                                <!--                        <a href="#">-->
                                <!--                            <img src="--><!--square-facebook.jpg">-->
                                <!--                        </a>-->
                                <!--                        <a href="http://twitter.com/crs_expertise">-->
                                <!--                            <img src="--><!--twitter_icon.jpg">-->
                                <!--                        </a>-->
                                <a href="http://twitter.com/crs_expertise">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <!--                        <a href="#">-->
                                <!--                            <img src="--><!--Instagram_Icon.jpg">-->
                                <!--                        </a>-->
                                <!--                        <a href="#">-->
                                <!--                            <img src="--><!--YouTube-social-square-red.jpg">-->
                                <!--                        </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="clear"></div>

            <div class="footer_top_lines">
                <div class="row bg-orange conference-contact">
                    <div class="container">
                        <a href="mailto:ICT4DMail@crs.org"><h2 class="text-center">Contact conference organizer <i class="fa fa-envelope-o fa-3"></i></h2></a>
                    </div>
                </div>
                <div class="row bg-blue twitter-container">
                    <div class="container"></div>
                </div>
            </div>

            <div id="footer" class="footer">
                <div class="container first">
                    <div class="col-md-12 footer-logo">
                        <a href="/" title="Home">
                            <img src="images/2016_ICT4D_RGB.png">
                        </a>
                    </div>
                </div>
                <div class="container sponsors-footer">
                    <h2 class="text-center title">Special thanks to our 2016 sponsors</h2>
                    <!--            <div class="sponsors">-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--                <div></div>-->
                    <!--            </div>-->
                    <div class="table sponsors-images-footer">
                        <div class="table-cell">
                            <a href="https://www.crs.org" target="_blank" title="Catholic Relief Services">
                                <img src="images/logo-crs.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="https://www.hpe.com" target="_blank" title="Hewlett Packard Enterprise ">
                                <img src="images/hewlett_packard_enterprise_logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="https://www.microsoft.com/" target="_blank" title="Microsoft">
                                <img src="images/MSFT_logo_png.png">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://nethope.org/" target="_blank" title="NetHope">
                                <img src="images/NetHope_Logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="https://www.oxfam.org/" target="_blank" title="Oxfam">
                                <img src="images/OX_HL_C_RGB.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="table sponsors-images-footer">
                        <div class="table-cell">
                            <a href="http://www.rti.org/" target="_blank" title="RTI International">
                                <img style="max-height: 45px;max-width: 300px" src="images/RTI_logo-e1454076684499.png">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://www.wirelessreach.com" target="_blank" title="Qualcomm">
                                <img style="max-height: 45px;max-width: 300px" src="images/Qualcomm_Logo.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="table sponsors-images-footer">
                        <div class="table-cell">
                            <a href="https://www.accenture.com" target="_blank" title="Accenture">
                                <img src="images/accenture-logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://www.esri.com/" target="_blank">
                                <img src="images/esri_logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://www.inmarsat.com/" target="_blank">
                                <img src="images/Inmarsat-Logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://wvi.org/" target="_blank" title="World vision">
                                <img src="images/wv_logo.jpg">
                            </a>
                        </div>
                    </div>

                    <div class="table sponsors-images-footer">
                        <div class="table-cell">
                            <a href="http://www.makingallvoicescount.org/" target="_blank" title="MAVC">
                                <img src="images/MAVC_Logo.jpg">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://www.simbanet.net/" target="_blank" title="SimbaNET ">
                                <img src="images/simbanet.png">
                            </a>
                        </div>
                        <div class="table-cell">
                            <a href="http://www.is.co.za/" target="_blank" title="Internet Solutions">
                                <img src="images/IS-logo.jpg">
                            </a>
                        </div>
                    </div>


                    <div class="menu-footer">
                        <div id="footermenu" class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="http://www.ict4dconference.org/about/">About</a></li>
                                <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="http://www.ict4dconference.org/agenda/">Agenda</a></li>
                                <li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="http://www.ict4dconference.org/speakers/">Speakers</a></li>
                                <li id="menu-item-643" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643"><a href="http://www.ict4dconference.org/press/">Press</a></li>
                                <li id="menu-item-161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a href="http://www.ict4dconference.org/challenges/">Challenge</a></li>
                            </ul></div>            </div>

                    <div class="footer-bottom-box">
                        <div class="col-sm-8">
                            <a href="mailto:ICT4DMail@crs.org">Contact conference organizer <i class="fa fa-envelope-o fa-3"></i></a>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a href="/archive/" class="archive_link">ICT4D ARCHIVE</a>
                            <!--                    <form method="POST" action="" class="signup-footer">-->
                            <!--                        <div>-->
                            <!--                            <input type="text" placeholder="Email" required>-->
                            <!--                            <button type="submit">-->
                            <!--                                <i class="fa fa-envelope"></i>-->
                            <!--                            </button>-->
                            <!--                        </div>-->
                            <!--                    </form>-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="clear"></div>
        <script type='text/javascript' src='js/jquery.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var _wpcf7 = {"loaderUrl":"http:\/\/www.ict4dconference.org\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
            /* ]]> */
        </script>
        <script type='text/javascript' src='js/scripts.js?ver=4.3.1'></script>
        <script type='text/javascript' src='js/bootstrap.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/jquery-ui.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/jquery.validate.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/jquery.flexslider-min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/jquery.fullPage.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/stickUp.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/custom.js?ver=1.0'></script>
        <script type='text/javascript' src='js/superfish.js?ver=1.0'></script>
        <script type='text/javascript' src='js/wow.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/jquery.zclip.min.js?ver=1.0'></script>
        <script type='text/javascript' src='js/tipr.min.js?ver=1.0'></script>
        <script type='text/javascript' src='http://www.ict4dconference.org/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script>
    </body>
</html>