{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper-box">
        <div class="row">
            <div class="container">
                <div id="post-8" class="post-8 page type-page status-publish hentry">


                    <!--<h2 class="entry-title">About</h2>-->


                    <div class="entry-content">
                        <h2 class="entry-title">About</h2>

                        <p>The 2016 ICT4D Conference was organized by a consortium of the following organizations:</p>

                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="/wp-content/uploads/2015/12/accenture-logo.jpg" alt=""/></div>
                            <div class="col-sm-10">
                                <p>Accenture is a global management consulting, technology services, and outsourcing
                                    company, with more than 336,000 people serving clients across 40 industries in more
                                    than
                                    120 countries. Accenture Development Partnerships (ADP) is a global practice within
                                    Accenture that employs an innovative business model to provide international
                                    development
                                    organizations with access to world class business and technology consulting services
                                    that deliver social impact and innovation. For more information, please visit <a
                                            href="http://www.accenture.com." target="_blank">www.accenture.com</a>.</p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="/wp-content/themes/cfl/images/logo-crs.jpg"
                                        alt=""/></div>
                            <div class="col-sm-10">
                                <p>CRS is the official international humanitarian agency of the Catholic community in
                                    the
                                    United States. The agency alleviates suffering and provides assistance to people in
                                    need
                                    in more than 100 countries, without regard to race, religion or nationality. Our
                                    programs touch 85 million lives with innovative solutions and responses to poverty.
                                    For
                                    more information, please visit <a href="http://www.crs.org/"
                                                                      target="_blank">www.crs.org</a> or <a
                                            href="http://www.crsespanol.org/" target="_blank">www.crsespanol.org</a>.
                                </p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img class=""
                                                                          src="/wp-content/uploads/2015/11/esri-10GlobeLogo_sRGBflat.jpg"
                                                                          alt="" width="174" height="78"/></div>
                            <div class="col-sm-10">
                                <p class="p1">Since 1969, the Environmental Systems Research Institute, has helped
                                    organizations map and model our world. The ArcGIS Platform by Esri is now utilized
                                    in
                                    more than 350,000 organizations worldwide, to manage and analyze geographic
                                    information
                                    to enable informed decision making. As a socially conscious business, Esri actively
                                    supports organizations involved in education, conservation, sustainable development,
                                    and
                                    humanitarian affairs. Learn more at:
                                    <a href="http://www.esri.com/esri-special-programs" target="_blank">www.esri.com</a>.
                                </p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="/wp-content/themes/cfl/images/hewlett_packard_enterprise_logo.jpg" alt=""/>
                            </div>
                            <div class="col-sm-10">
                                <p class="p1">Hewlett Packard Enterprise is an industry leading technology company that
                                    enables customers to go further, faster. With the industry’s most comprehensive
                                    portfolio, spanning the cloud to the data center to workplace applications, our
                                    technology and services help customers around the world make IT more efficient, more
                                    productive and more secure. For more information, please visit <a
                                            href="https://www.hpe.com/us/en/home.html" target="_blank">www.hpe.com</a>.
                                </p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img class="alignnone wp-image-415"
                                                                          src="http://www.ict4dconference.org/wp-content/uploads/2016/01/imerit-logo-RED_tag-e1454089663683.png"
                                                                          alt="iMerit Logo"/></div>
                            <div class="col-sm-10">
                                <p class="p1">iMerit is an on-demand digital services company that creates datasets for
                                    machine learning, provides functional testing and application support with 24/7
                                    global
                                    support, as well as cleansing, enriching and categorizing data. achieving over 95%
                                    accuracy. These agile services are delivered by young people from
                                    financially-challenged
                                    backgrounds, and the training and employment they receive at iMerit transforms their
                                    lives. For more information, please visit <a href="http://imerit.net/"
                                                                                 target="_blank">imerit.net/</a>.
                                </p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img class="alignnone wp-image-415"
                                                                          src="http://www.ict4dconference.org/wp-content/uploads/2016/01/MCbrand_Logo_Horizontal_PMS_186_PC-300x106-1-300x106.png"
                                                                          alt="MCbrand_Logo_Horizontal_PMS_186_PC-300x106"
                                                                          width="187" height="66"/></div>
                            <div class="col-sm-10">
                                <p class="p1">Mercy Corps is a leading global organization powered by the belief that a
                                    better world is possible. In disaster, in hardship, in more than 40 countries around
                                    the
                                    world, we partner to put bold solutions into action—helping people triumph over
                                    adversity and build stronger communities from within. Now, and for the future. For
                                    more
                                    information, please visit <a href="https://www.mercycorps.org" target="_blank">www.mercycorps.org</a>.
                                </p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="/wp-content/themes/cfl/images/NetHope_Logo.jpg" alt=""/></div>
                            <div class="col-sm-10">NetHope is a collaboration between the 43 leading international
                                nonprofit
                                organizations and the technology sector. NetHope works with its members and corporate
                                partners to foster collaboration and innovation and leverage the full potential of
                                technology to support development and humanitarian programs. NetHope has extensive
                                experience in delivering programs in partnership with its members and corporate
                                partners.
                                For more information visit <a href="http://www.nethope.org/"
                                                              target="_blank">www.nethope.org</a>.
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="/wp-content/themes/cfl/images/OX_HL_C_RGB.jpg" alt=""/></div>
                            <div class="col-sm-10">
                                <p>Oxfam is an international confederation of 17 organizations working together with
                                    partners and local communities in more than 90 countries. Around the globe, Oxfam
                                    works
                                    to find practical, innovative ways for people to lift themselves out of poverty and
                                    thrive. We save lives and help rebuild livelihoods when crisis strikes. And we
                                    campaign
                                    so that the voices of the poor influence the local and global decisions that affect
                                    them. For more information, please visit <a href="http://www.oxfam.org/"
                                                                                target="_blank">www.oxfam.org</a>.</p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="http://www.ict4dconference.org/wp-content/uploads/2015/11/Pandexio-logo-vector-large.png"
                                        alt="Pandexio logo" width="169" height="51"/></div>
                            <div class="col-sm-10">
                                <p>Pandexio is a SaaS company focused on rapid learning and knowledge transfer. Pandexio
                                    makes it easy for individuals to convert documents and web pages into knowledge
                                    nuggets
                                    they can organize, re-access and share. Pandexio can be embedded in most web
                                    applications, enabling organizations and networks to crowd-source knowledge from
                                    content, overcome information overload, learn faster and share knowledge easier. For
                                    more information, please visit <a href="http://www.pandexio.com" target="_blank">www.pandexio.com</a>.
                                </p>
                            </div>
                        </div>
                        <div class="logo-partner-box">
                            <div class="logo-partner-small col-sm-2"><img
                                        src="/wp-content/uploads/2016/02/wv_logo_equal_rgb.png " alt=""/></div>
                            <div class="col-sm-10">
                                <p>Founded in 1950, World Vision is a global Christian relief, development and advocacy
                                    organisation dedicated to working with children, families and communities worldwide
                                    to
                                    reach their full potential by tackling the causes of poverty and injustice. WV&#8217;s
                                    more than 45,000 staff members in nearly 100 countries are committed to working with
                                    the
                                    world’s most vulnerable people, regardless of religion, race, ethnicity, or gender.
                                    For
                                    more information, please visit <a href="http://www.wvi.org"
                                                                      target="_blank">www.wvi.org</a>.</p>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div id="nav-below" class="navigation"></div>
                        <!-- #nav-below -->                                    </div>
                    <!-- .entry-content -->
                </div>
                <!-- #post-## -->
                <div id="comments">

                    <!-- You can start editing here. -->


                </div>
            </div>
        </div>

        <div class="clear"></div>

        <div class="footer_top_lines">
            <div class="row bg-orange conference-contact">
                <div class="container">
                    <a href="mailto:ICT4DMail@crs.org"><h2 class="text-center">Contact conference organizer <i
                                    class="fa fa-envelope-o fa-3"></i></h2></a>
                </div>
            </div>
            <div class="row bg-blue twitter-container">
                <div class="container"></div>
            </div>
        </div>

        <div id="footer" class="footer">
            <div class="container first">
                <div class="col-md-12 footer-logo">
                    <a href="/" title="Home">
                        <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/2016_ICT4D_RGB.png">
                    </a>
                </div>
            </div>
            <div class="container sponsors-footer">
                <h2 class="text-center title">Special thanks to our 2016 sponsors</h2>
                <!--            <div class="sponsors">-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--                <div></div>-->
                <!--            </div>-->
                <div class="table sponsors-images-footer">
                    <div class="table-cell">
                        <a href="https://www.crs.org" target="_blank" title="Catholic Relief Services">
                            <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/logo-crs.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="https://www.hpe.com" target="_blank" title="Hewlett Packard Enterprise ">
                            <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/hewlett_packard_enterprise_logo.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="https://www.microsoft.com/" target="_blank" title="Microsoft">
                            <img src="/wp-content/uploads/2015/12/MSFT_logo_png.png">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://nethope.org/" target="_blank" title="NetHope">
                            <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/NetHope_Logo.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="https://www.oxfam.org/" target="_blank" title="Oxfam">
                            <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/OX_HL_C_RGB.jpg">
                        </a>
                    </div>
                </div>

                <div class="table sponsors-images-footer">
                    <div class="table-cell">
                        <a href="http://www.rti.org/" target="_blank" title="RTI International">
                            <img style="max-height: 45px;max-width: 300px"
                                 src="/wp-content/uploads/2016/01/RTI_logo-e1454076684499.png">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://www.wirelessreach.com" target="_blank" title="Qualcomm">
                            <img style="max-height: 45px;max-width: 300px"
                                 src="/wp-content/uploads/2016/03/Qualcomm_Logo.jpg">
                        </a>
                    </div>
                </div>

                <div class="table sponsors-images-footer">
                    <div class="table-cell">
                        <a href="https://www.accenture.com" target="_blank" title="Accenture">
                            <img src="/wp-content/uploads/2015/12/accenture-logo.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://www.esri.com/" target="_blank">
                            <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/esri_logo.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://www.inmarsat.com/" target="_blank">
                            <img src="/wp-content/uploads/2016/04/Inmarsat-Logo.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://wvi.org/" target="_blank" title="World vision">
                            <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/wv_logo.jpg">
                        </a>
                    </div>
                </div>

                <div class="table sponsors-images-footer">
                    <div class="table-cell">
                        <a href="http://www.makingallvoicescount.org/" target="_blank" title="MAVC">
                            <img src="/wp-content/uploads/2016/03/MAVC_Logo.jpg">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://www.simbanet.net/" target="_blank" title="SimbaNET ">
                            <img src="/wp-content/uploads/2016/05/simbanet.png">
                        </a>
                    </div>
                    <div class="table-cell">
                        <a href="http://www.is.co.za/" target="_blank" title="Internet Solutions">
                            <img src="/wp-content/uploads/2016/05/IS-logo.jpg">
                        </a>
                    </div>
                </div>


                <div class="menu-footer">
                    <div id="footermenu" class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-80"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-8 current_page_item menu-item-80">
                                <a href="http://www.ict4dconference.org/about/">About</a></li>
                            <li id="menu-item-643"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643"><a
                                        href="http://www.ict4dconference.org/press/">Participants</a></li>
                            <li id="menu-item-79"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a
                                        href="http://www.ict4dconference.org/agenda/">Agenda</a></li>
                            <li id="menu-item-78"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a
                                        href="http://www.ict4dconference.org/speakers/">Speakers</a></li>
                            <li id="menu-item-776"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a
                                        href="http://www.ict4dconference.org/exhibitors/">Exhibitors</a></li>
                            <li id="menu-item-161"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a
                                        href="http://www.ict4dconference.org/challenges/">Challenge</a></li>
                        </ul>
                    </div>
                </div>

                <div class="footer-bottom-box">
                    <div class="col-sm-8">
                        <a href="mailto:ICT4DMail@crs.org">Contact conference organizer <i
                                    class="fa fa-envelope-o fa-3"></i></a>
                    </div>
                    <div class="col-sm-4 text-right">
                        <a href="/archive/" class="archive_link">ICT4D ARCHIVE</a>
                        <!--                    <form method="POST" action="" class="signup-footer">-->
                        <!--                        <div>-->
                        <!--                            <input type="text" placeholder="Email" required>-->
                        <!--                            <button type="submit">-->
                        <!--                                <i class="fa fa-envelope"></i>-->
                        <!--                            </button>-->
                        <!--                        </div>-->
                        <!--                    </form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}