<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

        <title>2016 ICT4D Conference</title>

        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="pingback" href="http://www.ict4dconference.org/xmlrpc.php">

        <!--[if lt IE 9]>
        <script src="http://www.ict4dconference.org/wp-content/themes/cfl/js/html5.js"></script>
        <![endif]-->

        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="http://www.ict4dconference.org/wp-content/themes/cfl/favicon.ico"/>

        <script>
            (function (d) {
                var js, id = 'powr-js', ref = d.getElementsByTagName('script')[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement('script');
                js.id = id;
                js.async = true;
                js.src = '//www.powr.io/powr.js';
                js.setAttribute('powr-token', 'MC8OuEXBBL1449817784');
                js.setAttribute('external-type', 'wordpress');
                ref.parentNode.insertBefore(js, ref);
            }(document));
        </script>
        <link rel="alternate" type="application/rss+xml" title="2016 ICT4D Conference &raquo; Feed"
              href="http://www.ict4dconference.org/feed/"/>
        <link rel="alternate" type="application/rss+xml" title="2016 ICT4D Conference &raquo; Comments Feed"
              href="http://www.ict4dconference.org/comments/feed/"/>
        <script type="text/javascript">
            window._wpemojiSettings = {
                "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/",
                "ext": ".png",
                "source": {"concatemoji": "http:\/\/www.ict4dconference.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}
            };
            !function (a, b, c) {
                function d(a) {
                    var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode;
                    if (!g || !g.fillText)return !1;
                    switch (g.textBaseline = "top", g.font = "600 32px Arial", a) {
                        case"flag":
                            return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3;
                        case"diversity":
                            return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e;
                        case"simple":
                            return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0];
                        case"unicode8":
                            return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]
                    }
                    return !1
                }

                function e(a) {
                    var c = b.createElement("script");
                    c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
                }

                var f, g, h, i;
                for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
                c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                    c.DOMReady = !0
                }, c.supports.everything || (g = function () {
                    c.readyCallback()
                }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                    "complete" === b.readyState && c.readyCallback()
                })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
            }(window, document, window._wpemojiSettings);
        </script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel='stylesheet' id='contact-form-7-css' href='/css/style.css?ver=4.3.1' type='text/css' media='all'/>
        <link rel='stylesheet' id='bootstrap-css' href='/css/bootstrap.min.css?ver=1.0' type='text/css'
              media='screen, projection'/>
        <link rel='stylesheet' id='grid-css' href='/css/cfl/cfl.css?ver=1.0' type='text/css' media='screen, projection'/>
        <link rel='stylesheet' id='fonts-css' href='/css/fonts.css?ver=1.0' type='text/css' media='screen, projection'/>
        <link rel='stylesheet' id='formalize-css' href='/css/formalize.css?ver=1.0' type='text/css'
              media='screen, projection'/>
        <link rel='stylesheet' id='superfish-css' href='/css/superfish.css?ver=1.0' type='text/css'
              media='screen, projection'/>
        <link rel='stylesheet' id='font-awesome-css' href='/css/font-awesome.min.css?ver=1.0' type='text/css'
              media='screen, projection'/>
        <link rel='stylesheet' id='animate-css' href='/css/animate.css?ver=1.0' type='text/css'
              media='screen, projection'/>
        <link rel='stylesheet' id='shortcodes-css' href='/css/shortcodes.css?ver=1.0' type='text/css'
              media='screen, projection'/>
        <link rel='stylesheet' id='cfl-theme-settings-css-css' href='/css/layout.css' type='text/css' media='all'/>
        <link rel='stylesheet' id='cfl-theme-font-sans-css'
              href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='cfl-theme-libre-css'
              href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' type='text/css'
              media='all'/>
        <link rel='stylesheet' id='cfl-style-css' href='/css/cfl/style.css?ver=4.5.3' type='text/css' media='all'/>
        <link rel='https://api.w.org/' href='http://www.ict4dconference.org/wp-json/'/>
        <link rel="EditURI" type="application/rsd+xml" title="RSD"
              href="http://www.ict4dconference.org/xmlrpc.php?rsd"/>
        <link rel="wlwmanifest" type="application/wlwmanifest+xml"
              href="http://www.ict4dconference.org/wp-includes/wlwmanifest.xml"/>
        <meta name="generator" content="WordPress 4.5.3"/>
        <link rel="canonical" href="http://www.ict4dconference.org/"/>
        <link rel='shortlink' href='http://www.ict4dconference.org/'/>
        <link rel="alternate" type="application/json+oembed"
              href="http://www.ict4dconference.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.ict4dconference.org%2F"/>
        <link rel="alternate" type="text/xml+oembed"
              href="http://www.ict4dconference.org/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.ict4dconference.org%2F&#038;format=xml"/>
        <style type="text/css">.recentcomments a {
                display: inline !important;
                padding: 0 !important;
                margin: 0 !important;
            }</style>

        <script type="text/javascript">
            var ajaxurl = 'http://www.ict4dconference.org/wp-admin/admin-ajax.php';
        </script>


        <style type="text/css">
            /* Background colors */

            body, .widget-container a:link, .widget-container a:visited, strong {
                color: #00437b;
            }

            body {
                background-color: #ffffff;
            }

            /* Links, Buttons, Menu, other */

            a, .entry-meta, .cat-links, .comments-link, .meta-sep, .entry-utility, h6, .mobile-button i {
                color: #00437b;
            }

            a:hover, #accordion div {
                color: #f15d24;
            }

            #navigation ul li a, #navigation ul .menu-item-has-children:after, .cfl-nav-logo {
                color: #00437b;
            }

            button, input[type="submit"], input[type="reset"], input[type="button"], .button a, #accordion .ui-accordion-header-active,
            #tabs .ui-state-active a, #navigation ul.sub-menu li a:hover, #navigation ul.children li a:hover {
                color: #00437b;
                background: #00437b;
            }

            input, textarea, select, .uneditable-input, #tabs .tab-content {
                border-color: #00437b;
            }

            input:focus, textarea:focus {
                border-color: #00437b;
            }

            .slide-title a, .title-no-url {
                color: #00437b;
                background-color: rgba(0, 67, 123, 0.8);
            }

            #accordion h3, #tabs .nav-tabs a {
                color: #00437b;
                background: rgba(0, 67, 123, 0.5);
            }

            #accordion div, #tabs .tab-content {
                color: #00437b;
                background: rgba(0, 67, 123, 0.1);
            }

            @media only screen and (max-width: 787px) {
                #navigation .menu-box li:hover {
                    background: rgba(0, 67, 123, 0.1);
                }
            }

            #tabs .ui-state-active a {
                background: #00437b;
            }

            /* Slider title, sidebar titles, blockquote, footer hover social, other */

            .slider-bottom-title span {
                background-color: #00437b;
            }

            .flexslider .slides img {
                border-color: #00437b;
            }

            #content h2 a, #sidebar .widget-title, #nav-below .fa {
                color: #00437b;
            }

            #content blockquote {
                border-left-color: #00437b;
                background: rgba(0, 67, 123, 0.2);
            }
        </style>
        <script>var current_week_url = "http://www.ict4dconference.org/";</script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-71510048-1', 'auto');
            ga('send', 'pageview');

        </script>
    </head>

    <body class="home page page-id-22 page-template page-template-page-landing page-template-page-landing-php english">
        <div id="wrap">
            <div id="header">
                <div class="inner container">
                    <div class="header-right-block">
                        <!--						<div class="header_buttons">-->
                        <!--                            <a href="http://crsmaterials.crs.org/us-materials/rice-bowl/" target="_blank" class="button bg-green">Order Materials</a>-->
                        <!--						</div>-->
                    </div>
                    <span class="mobile-button"><i class="fa fa-bars fa-lg"></i></span>

                    <div class="mobile-logo">
                        <a href="/" title="Home" class="mobile-nav-logo"><img src="/images/2016_ICT4D_RGB.png"></a>
                    </div>
                </div>
            </div>

            <div id="navigation" class="row">
                <div class="menu-box">
                    <div class="container">
                        <div class="menu-header">
                            <div class="header_left">
                                <!--<a href="http://www.ict4dconference.org" title="Home" class="cfl-nav-logo">ict4dconference</a>-->
                                <a href="/" title="Home" class="cfl-nav-logo"><img
                                            src="/images/2016_ICT4D_RGB.png"></a>
                            </div>
                            <div class="header_right">
                                <ul>
                                    <li id="menu-item-34"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a
                                                href="/about">About</a></li>
                                    <li id="menu-item-33"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33"><a
                                                href="/agenda">Agenda</a></li>
                                    <li id="menu-item-32"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a
                                                href="/speakers">Speakers</a></li>
                                    <li id="menu-item-31"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31"><a
                                                href="/tickets">Tickets</a></li>
                                </ul>
                                <div>
                                    <form role="search" method="get" id="searchform" class="searchform" action="/"
                                          _lpchecked="1">
                                        <input type="text" value="" name="s" id="s" class="header_search"
                                               placeholder="Search...">
                                    </form>
                                </div>
                                <!--<div><form role="search" method="get" id="searchform" class="searchform" action="http://www.ict4dconference.org/">
                        <div>
                            <label class="screen-reader-text" for="s">Search for:</label>
                            <input type="text" value="" name="s" id="s" />
                            <input type="submit" id="searchsubmit" value="Search" />
                        </div>
                    </form></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% block body %}{% endblock %}
        <div class="clear"></div>

        {% block javascripts %}
            <script type='text/javascript' src='/js/jquery.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
            <script type='text/javascript'>
                /* <![CDATA[ */
                var _wpcf7 = {
                    "loaderUrl": "http:\/\/www.ict4dconference.org\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif",
                    "recaptchaEmpty": "Please verify that you are not a robot.",
                    "sending": "Sending ..."
                };
                /* ]]> */
            </script>
            <script type='text/javascript' src='/js/scripts.js?ver=4.3.1'></script>
            <script type='text/javascript' src='/js/bootstrap.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/jquery-ui.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/jquery.validate.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/jquery.flexslider-min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/jquery.fullPage.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/stickUp.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/custom.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/superfish.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/wow.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/jquery.zclip.min.js?ver=1.0'></script>
            <script type='text/javascript' src='/js/tipr.min.js?ver=1.0'></script>
            <script type='text/javascript'
                    src='http://www.ict4dconference.org/wp-includes/js/wp-embed.min.js?ver=4.5.3'></script>
        {% endblock %}
    </body>
</html>

