{% extends 'base.html.twig' %}

{% block body %}
    <div class="row conference-container">
        <div class="container">
            <div class="conference-box">
                <div class="white-box">
                    <div>
                        <div class="small">Eighth Annual</div>
                        <img src="images/2016_ICT4D_RGB.png">

                        <div class="orange-text">
                            <div class="large">From Innovation to Impact</div>
                            <div class="padding">
                                <div>Using Technology to Achieve</div>
                                <div>the Sustainable Development Goals</div>
                            </div>
                            <div class="small">May 16-19, 2016 Nairobi, Kenya</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row bg-white sustainable-container">
        <div class="container">
            <h2 class="logo text-center"><a
                        href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/"
                        targe="_blank"><img src="images/sustainable-logo.png"></a></h2>

            <div class="large">
                This year's conference will bring together
                thought leaders and experienced professionals
                from around the world to share and explore
                ways of using ICT to help achieve the
                Sustainable Development Goals (SDGs).
            </div>
            <div class="icons-box">
                <div class="first"><a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/"
                                      target="_blank">
                        <img src="images/E_SDG_Icons-01.png">
                        <img src="images/E_SDG_Icons-02.png">
                        <img src="images/E_SDG_Icons-03.png">
                        <img src="images/E_SDG_Icons-04.png">
                        <img src="images/E_SDG_Icons-05.png">
                        <img src="images/E_SDG_Icons-06.png">
                        <img src="images/E_SDG_Icons-07.png">
                        <img src="images/E_SDG_Icons-08.png">
                        <img src="images/E_SDG_Icons-09.png"> </a>
                </div>
                <div class="last"><a href="http://www.un.org/sustainabledevelopment/sustainable-development-goals/"
                                     target="_blank">
                        <img src="images/E_SDG_Icons-10.png">
                        <img src="images/E_SDG_Icons-11.png">
                        <img src="images/E_SDG_Icons-12.png">
                        <img src="images/E_SDG_Icons-13.png">
                        <img src="images/E_SDG_Icons-14.png">
                        <img src="images/E_SDG_Icons-15.png">
                        <img src="images/E_SDG_Icons-16.png">
                        <img src="images/E_SDG_Icons-17.png"></a>
                </div>
            </div>
            <div class="text-center">
                <br>
                <a href="http://reliefweb.int/sites/reliefweb.int/files/resources/NetHope_SDG_ICT_Playbook_Final.pdf"
                   class="button" target="_blank">SDG ICT Playbook</a>
            </div>
        </div>
    </div>

    <div class="row register-now bg-orange" style="padding: 2.5px 0;">
        <!--div class="container">
            <a href="/registration/"> <h2 style="border: 0px solid white; padding: 6px;" >Register Now for the 2016 conference &nbsp;<i class="fa fa-arrow-circle-right fa-3"></i></h2>
        </div-->
    </div>

    <div class="row bg-white organizing-partners-container">
        <div class="container margin-top-bottom">
            <h2 class="text-center">ORGANIZING PARTNERS</h2>

            <div class="table text-center">
                <div class="table-cell">
                    <a href="https://www.accenture.com" target="_blank">
                        <img src="images/accenture-logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="https://www.crs.org" target="_blank">
                        <img src="images/logo-crs.jpg">
                    </a>
                </div>

                <div class="table-cell">
                    <a href="http://www.esri.com/" target="_blank">
                        <img src="images/esri_logo.jpg">
                    </a>
                </div>
            </div>
            <div class="table text-center">

                <div class="table-cell">
                    <a href="https://www.hpe.com" target="_blank">
                        <img src="images/hewlett_packard_enterprise_logo.jpg">
                    </a>
                </div>


                <div class="table-cell">
                    <a href="http://imerit.net/" target="_blank">
                        <img src="images/imerit-logo-RED_tag-e1454089663683.png">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="https://www.mercycorps.org/" target="_blank">
                        <img src="images/horizontal_red_360-e1452106140444.png">
                    </a>
                </div>
            </div>

            <div class="table col_4 text-center">

                <div class="table-cell">
                    <a href="http://nethope.org/" target="_blank">
                        <img src="images/NetHope_Logo.jpg">
                    </a>
                </div>

                <div class="table-cell">
                    <a href="https://www.oxfam.org/" target="_blank">
                        <img src="images/OX_HL_C_RGB.jpg">
                    </a>
                </div>

                <div class="table-cell">
                    <a href="http://www.pandexio.com/" target="_blank">
                        <img src="images/Pandexio-logo-vector-large.png">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://wvi.org/" target="_blank">
                        <img src="images/wv_logo.jpg">
                    </a>
                </div>
            </div>


        </div>
    </div>

    <div class="row bg-orange conference-contact">
        <div class="container">
            <a href="mailto:ICT4DMail@crs.org"><h2 class="text-center">Contact conference organizer <i
                            class="fa fa-envelope-o fa-3"></i></h2></a>
        </div>
    </div>

    <div class="row bg-blue twitter-container">
        <div class="container">
            <div class="feeds">
                <a class="twitter-timeline" height="300"
                   href="https://twitter.com/search?q=%23ICT4D%20OR%20%23ICT4D2016"
                   data-widget-id="667811367458578432"></a>
                <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>
                <!--                <div class="twitt"></div>-->
                <!--                <div class="twitt"></div>-->
                <!--                <div class="twitt"></div>-->
                <!--                <a class="twitter-timeline"  href="https://twitter.com/search?q=%23ICT4D%20OR%20%23ICT4D2016" data-widget-id="667811367458578432">Tweets about #ICT4D OR #ICT4D2016</a>-->
            </div>
            <div class="be-part-box">
                <div>
                    <h4>Be Part of the Conversation</h4>

                    <h3>#ICT4D2016</h3>

                    <div class="social-icons-box">
                        <!--                        <a href="#">-->
                        <!--                            <img src="--><!--square-facebook.jpg">-->
                        <!--                        </a>-->
                        <!--                        <a href="http://twitter.com/crs_expertise">-->
                        <!--                            <img src="--><!--twitter_icon.jpg">-->
                        <!--                        </a>-->
                        <a href="http://twitter.com/crs_expertise">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <!--                        <a href="#">-->
                        <!--                            <img src="--><!--Instagram_Icon.jpg">-->
                        <!--                        </a>-->
                        <!--                        <a href="#">-->
                        <!--                            <img src="--><!--YouTube-social-square-red.jpg">-->
                        <!--                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="clear"></div>

    <div class="footer_top_lines">
        <div class="row bg-orange conference-contact">
            <div class="container">
                <a href="mailto:ICT4DMail@crs.org"><h2 class="text-center">Contact conference organizer <i
                                class="fa fa-envelope-o fa-3"></i></h2></a>
            </div>
        </div>
        <div class="row bg-blue twitter-container">
            <div class="container"></div>
        </div>
    </div>

    <div id="footer" class="footer">
        <div class="container first">
            <div class="col-md-12 footer-logo">
                <a href="/" title="Home">
                    <img src="images/2016_ICT4D_RGB.png">
                </a>
            </div>
        </div>
        <div class="container sponsors-footer">
            <h2 class="text-center title">Special thanks to our 2016 sponsors</h2>
            <!--            <div class="sponsors">-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--                <div></div>-->
            <!--            </div>-->
            <div class="table sponsors-images-footer">
                <div class="table-cell">
                    <a href="https://www.crs.org" target="_blank" title="Catholic Relief Services">
                        <img src="images/logo-crs.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="https://www.hpe.com" target="_blank" title="Hewlett Packard Enterprise ">
                        <img src="images/hewlett_packard_enterprise_logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="https://www.microsoft.com/" target="_blank" title="Microsoft">
                        <img src="images/MSFT_logo_png.png">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://nethope.org/" target="_blank" title="NetHope">
                        <img src="images/NetHope_Logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="https://www.oxfam.org/" target="_blank" title="Oxfam">
                        <img src="images/OX_HL_C_RGB.jpg">
                    </a>
                </div>
            </div>

            <div class="table sponsors-images-footer">
                <div class="table-cell">
                    <a href="http://www.rti.org/" target="_blank" title="RTI International">
                        <img style="max-height: 45px;max-width: 300px" src="images/RTI_logo-e1454076684499.png">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://www.wirelessreach.com" target="_blank" title="Qualcomm">
                        <img style="max-height: 45px;max-width: 300px" src="images/Qualcomm_Logo.jpg">
                    </a>
                </div>
            </div>

            <div class="table sponsors-images-footer">
                <div class="table-cell">
                    <a href="https://www.accenture.com" target="_blank" title="Accenture">
                        <img src="images/accenture-logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://www.esri.com/" target="_blank">
                        <img src="images/esri_logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://www.inmarsat.com/" target="_blank">
                        <img src="images/Inmarsat-Logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://wvi.org/" target="_blank" title="World vision">
                        <img src="images/wv_logo.jpg">
                    </a>
                </div>
            </div>

            <div class="table sponsors-images-footer">
                <div class="table-cell">
                    <a href="http://www.makingallvoicescount.org/" target="_blank" title="MAVC">
                        <img src="images/MAVC_Logo.jpg">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://www.simbanet.net/" target="_blank" title="SimbaNET ">
                        <img src="images/simbanet.png">
                    </a>
                </div>
                <div class="table-cell">
                    <a href="http://www.is.co.za/" target="_blank" title="Internet Solutions">
                        <img src="images/IS-logo.jpg">
                    </a>
                </div>
            </div>


            <div class="menu-footer">
                <div id="footermenu" class="menu-footer-menu-container">
                    <ul id="menu-footer-menu" class="menu">
                        <li id="menu-item-79"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79">
                            <a href="/agenda">Agenda</a></li>
                        <li id="menu-item-78"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78">
                            <a href="/speakers">Speakers</a></li>
                        <li id="menu-item-77"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77">
                            <a href="/tickets">Tickets</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-bottom-box">
                <div class="col-sm-8">
                    <a href="mailto:ICT4DMail@crs.org">Contact conference organizer <i
                                class="fa fa-envelope-o fa-3"></i></a>
                </div>
                <div class="col-sm-4 text-right">
                    <a href="/archive/" class="archive_link">ICT4D ARCHIVE</a>
                    <!--                    <form method="POST" action="" class="signup-footer">-->
                    <!--                        <div>-->
                    <!--                            <input type="text" placeholder="Email" required>-->
                    <!--                            <button type="submit">-->
                    <!--                                <i class="fa fa-envelope"></i>-->
                    <!--                            </button>-->
                    <!--                        </div>-->
                    <!--                    </form>-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}