{% extends 'base.html.twig' %}

{% block body %}
<div class="row register-now header-register bg-orange" style="padding: 2.5px 0;">

    <!--div class="container"> <a href="/registration/"> <h2 style="border: 0px solid white; padding: 6px;" >Register Now for the 2016 conference &nbsp;<i class="fa fa-arrow-circle-right fa-3"></i></h2> </a>
       <!-- <h2>Register for the 2016 conference <button class="button  white-box" style="border: 1px solid white;">Register now</button></h2>-->
    <!--<h2>REGISTRATION OPENS EARLY JANUARY – CHECK BACK SOON!</h2>-->
    </div-->
</div>
<div class="wrapper-box">
    <div class="row">
        <div class="container">
            <div id="post-12" class="post-12 page type-page status-publish hentry">


                <!--<h2 class="entry-title">Keynote Speakers and Panelists</h2>-->


                <div class="entry-content">
                    <h2 class="entry-title">Keynote Speakers and Panelists {% if speaker %}<a href="/speaker/requestbudget" class="pull-right">Request budget</a>{% else %}<a href="/spot/request" class="pull-right">Request spot</a>{% endif %}</h2>

                    <p>&nbsp;</p>

                    <p><strong><img class="size-full wp-image-545 alignleft" src="/wp-content/uploads/2016/03/sean.jpg"
                                    alt="Sean Callahan" width="250" height="250"/>Sean Callahan, Chief Operating
                            Officer, Catholic Relief Services </strong></p>

                    <p>As Chief Operating Officer of CRS, Sean Callahan provides executive leadership to the Overseas
                        Operations, US Operations, and Human Resources divisions. His role is to enhance performance,
                        stimulate innovation, and position the Agency for the future. In 2015, Sean was elected 1st Vice
                        President of Caritas Internationalis, a confederation of 165 Catholic relief, development and
                        social service organizations operating in over 200 countries and territories worldwide.</p>

                    <p>

                    <div class="short_content_box">
                        <div class="short_content">
                    </p>
                    <p>From 2004 to 2012, Sean was CRS’ Executive Vice President for Overseas Operations, providing
                        oversight for a program and management portfolio which grew to over $800 million, serving people
                        in 100 countries, and engaging a team of over 4,500 staff. As Regional Director for South Asia
                        from 1998 to 2004, Sean strengthened CRS&#8217; programming and partnerships in India, Pakistan,
                        Afghanistan, Sri Lanka, Bangladesh and Nepal, leading the regional response to floods, droughts,
                        earthquakes, cyclones, and man-made emergencies. Prior to his assignment to South Asia, Sean
                        served as the Director of Human Resources for CRS at its world headquarters in Baltimore, as the
                        Director of the CRS/Nicaragua Program, and worked in Central America and headquarters in varying
                        capacities.</p>

                    <p>Sean holds a B.A. in Spanish from Tufts University, Magna Cum Laude, and an M.A. in Law and
                        Diplomacy from the Fletcher School of Law and Diplomacy at Tufts University.
                </div>
                <span class="short_content_show">Read more</span></div>
            </p>
            <p>&nbsp;</p>

            <p><strong><img class="size-full wp-image-545 alignleft"
                            src="/wp-content/uploads/2016/04/Mukhisa-Kituyi.jpg" alt="Dr. Mukhisa Kituyi" width="250"
                            height="250"/>Dr. Mukhisa Kituyi, Secretary-General of the United Nations Conference on
                    Trade and Development (UNCTAD)</strong></p>

            <p>Dr. Mukhisa Kituyi of Kenya, who became UNCTAD&#8217;s seventh Secretary-General on 1 September 2013, has
                an extensive background as an elected official, an academic, and a holder of high government office. He
                also has wide-ranging experience in trade negotiations, and in African and broader international
                economics and diplomacy.</p>

            <p>

            <div class="short_content_box">
                <div class="short_content">
            </p>
            <p>He was born in Bungoma District, western Kenya, in 1956. He studied political science and international
                relations at the University of Nairobi and at Makerere University in Kampala, Uganda, receiving a BA in
                1982. He went on to earn an MPhil in 1986 and a doctorate in 1989 from the University of Bergen,
                Norway.</p>

            <p>Dr. Kituyi served as a researcher at Norway&#8217;s Christian Michelsen Institute from 1989 to 1991, and
                as Programme Director of the African Centre for Technology Studies in Nairobi from 1991 to 1992. He was
                elected to the Kenyan Parliament in 1992, and was twice re-elected. He was Kenya&#8217;s Minister of
                Trade and Industry from 2002 to 2007. During this period, Dr. Kituyi chaired for two years the Council
                of Ministers of the Common Market for Eastern and Southern Africa (COMESA) and the African Trade
                Ministers&#8217; Council. He also served as chairman of the Council of Ministers of the African,
                Caribbean and Pacific (ACP) Group of States, and was lead negotiator for Eastern and Southern African
                ministers during the European Union-ACP Economic Partnership Agreement negotiations. He was convenor of
                the agriculture negotiations carried out at the World Trade Organization&#8217;s Sixth Ministerial
                Conference held in Hong Kong, China in 2005.</p>

            <p>From 2008 to 2012, Dr. Kituyi was a member of a team of experts advising the presidents of the nations of
                the East African Community on how to establish more effective regional economic links. From 2011 to
                2012, he was a consultant for the African Union Commission, where he helped to develop the structure for
                a pan-African free trade area. Immediately prior to becoming Secretary-General, Dr. Kituyi was Chief
                Executive of the Kenya Institute of Governance, based in Nairobi. The Institute is a think tank and
                advocacy organization that focuses on linking academic research and the development of public policy.
                During 2012, Dr. Kituyi also served as a non-resident fellow of the Africa Growth Initiative of the
                Brookings Institution, Washington, D.C. He was a resident scholar there in 2011.</p>

            <p></div>
        <span class="short_content_show">Read more</span></div>
    </p>
    <p>&nbsp;</p>

    <p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Joseph-Mucheru.jpg" alt="Joseph Mucheru"/>Joseph
            Mucheru, Cabinet Secretary, Ministry of Information, Communications and Technology, Government of the
            Republic of Kenya, MBS (Moran of Burning Spear)</strong></p>

    <p>Joseph Mucheru, MBS, is the current Cabinet Secretary in the Ministry of Information, Communications and
        Technology of the Government of the Republic of Kenya, having been appointed to the position in December 2015.
        Mr. Mucheru was the Head of East Africa Google Office and the Regional Leader for Google Sub-Saharan Africa.</p>

    <p>

    <div class="short_content_box">
        <div class="short_content">
    </p>
    <p>He was the first African to be hired by Google in 2007.
        Prior to joining Google, he worked for Wananchi On-line, a company he co-founded in 1999 both as CEO and
        Strategy and Business Development Director. In December 2010, he was awarded the honor of Moran of the Burning
        Spear (MBS) by H.E. Hon. Uhuru Kenyatta, President of Kenya, for his outstanding contribution towards
        technology.
        He attended the Stanford Executive Program of Stanford University Graduate School of Business in 2008. He holds
        a BSc. (Joint Hons) in Economics &amp; Computer Science from City University London. Secretary Mucheru has been
        a Director of several renowned Companies in Kenya.</p>

    <p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Mwambu-Wanendeya.jpg" alt="Mwambu Wanendeya"/>Mwambu
        Wanendeya, Africa Executive Director, ONE</strong></p>
<p>Mwambu Wanendeya serves as ONE’s Africa Executive Director. Prior to joining ONE he had leadership positions in
    finance and telecommunications for ten years leading global and regional teams responsible for brand, marketing,
    communications and corporate social responsibility for listed global companies. In that capacity he worked on award
    winning global campaigns for major international music events such as the 90th and 91st birthday celebrations for
    Nelson Mandela and the MTV Africa music awards.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>He also created one of Africa’s most popular television shows, which was broadcast for four years on satellite and
    terrestrial television. He has led teams which have promoted the use of new technology to change lives in different
    ways from uniting refugees with their families to sending mobile payments across borders or educating remote
    communities. Mwambu worked for the Commonwealth Secretariat in London for 9 years as a communications adviser and in
    that time participated in missions to Fiji, Guyana, Nigeria, South Africa and Zimbabwe. His time at the Commonwealth
    was preceded by a career as a journalist for the BBC and The Sunday Times (UK). Mwambu received his B.Eng from
    Imperial College, University of London.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/D_Owens.jpg" alt="Darrell Owens"/>Darrell
        Owen,</strong><strong> International Development Consultant</strong></p>
<p>Darrell Owen has been engaged in socioeconomic-focused Digital Development for over 22 years, initially as an
    employee of USAID, but also as an independent consultant to both the private and public sectors. With a Master’s
    degree in Telecommunications, Darrell’s focus has been on expanding Internet connectivity in developing countries,
    with priority on expanding affordable broadband access into rural communities&#8211;seeking to close the Digital
    Divide.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Darrell’s experience includes engagements in designing and managing in-country ICT portfolios of projects, and
    working at the implementation level in partnership with international and in-country private sector
    businesses?to?expand rural connectivity.? He has designed and launched connectivity-focused programs for USAID and
    supported national governments in making telecommunications-related policy and legal/regulatory changes including
    making National Broadband Plans and Universal Service Funds operational.? Darrell has worked closely with the U.S.
    State Department in supporting the United Nation&#8217;s Commission on Science and Technology for Development
    (CSTD), focused on expanding Digital Development in support of advancing socioeconomic opportunities.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><a href="http://www.ict4dconference.org/wp-content/uploads/2015/11/thigo_250.jpg" rel="attachment wp-att-741"><img
                class="alignleft wp-image-745"
                src="http://www.ict4dconference.org/wp-content/uploads/2015/11/thigo_250-300x289.jpg" alt="" width="250"
                height="240"
                srcset="http://www.ict4dconference.org/wp-content/uploads/2015/11/thigo_250-300x289.jpg 300w, http://www.ict4dconference.org/wp-content/uploads/2015/11/thigo_250-150x144.jpg 150w, http://www.ict4dconference.org/wp-content/uploads/2015/11/thigo_250.jpg 392w"
                sizes="(max-width: 250px) 100vw, 250px"/></a></p>
<p><strong>Philip Thigo, Lead of the National Data Revolution agenda, Office of the Deputy President (DP)</strong></p>
<p>Philip Thigo is a Kenyan technology &amp; governance practitioner. He currently serves as a Senior Advisor on Data
    and Innovation at the Legislative and Intergovernmental Liaison Office, Office of the Deputy President of Kenya.</p>
<p>He Co-founded INFONET in Kenya, an innovation initiative aimed at building capabilities of Governments, Civil Society
    &amp; Citizens for better development outcomes.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Mr. Thigo has previously held executive positions, most notably INFONET Africa, Foundation El Taller based in Tunis,
    Tunisia, working with organizations in Asia, Africa, Arab World and Latin America. He is currently a Communications
    Consultant for the African Union Commission, Bureau of the Chairperson &amp; the African Governance Architecture
    (AGA) at the Department of Political Affairs.</p>
<p>He was honored at the 50th Anniversary of the Academy of Achievement USA as a delegate. Philip serves as the Point of
    Contact for Open Government Partnership (OGP) for Kenyan Government and as a Interim Steering Group Member of the
    Global Partnership for Sustainable Development Data, where he co-chairs the Data Roadmaps and Ecosystems working
    group.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/G_Fowlie.jpg" alt="Gary Fowlie"/>Gary Fowlie, Head,
        International Telecommunication Union (ITU) Liaison Office to the United Nations</strong></p>
<p>Gary Fowlie is the Head of the International Telecommunication Union (ITU) Liaison Office to the United Nations. ITU
    is the specialized agency of the UN responsible for information and communication technology.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Gary worked as an Account Director for the global technology practice of the consulting firm Hill and Knowlton prior
    to joining the ITU and was responsible for communications for the UN World Summit on the Information Society. From
    2005-2009 he occupied the post of Chief of Media Liaison for the United Nations in New York. He is an Economist and
    Journalist, having worked for the news service of the Canadian Broadcasting Corporation and The Economist.</p>
<p>Gary is a graduate of the Universities of Alberta, Alabama and the London School of Economics and is a part-time
    instructor in the School of Business at the British Columbia Institute of Technology.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/T_Marenentette.jpg" alt="D_Owens"/>Tom Marentette,
        Digital ND Lead Architect, University of Notre Dame? </strong></p>
<p>Tom Marentette has been with the University since 1997 in a variety of information technology roles, from network
    engineering to project management and his present day role as architect of teaching and learning technologies. His
    current responsibilities include the strategy, planning and execution of enterprise academic technologies and
    Information and Communication Technologies for Development (ICT4D) research, design and practice.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/KateKrukiel.jpg" alt="Kate Krukiel" width="250px"/>Kate
        Krukiel, Director of Strategic Partnerships, Microsoft</strong></p>
<p>Kate Krukiel joined Microsoft in 2006 and is currently the Technology Advisor for Partnerships for the United Nations
    International Organizations. In this role she is responsible for developing the key strategic objectives,
    mission-related partnerships and solution strategies across the United Nations and other NGOs.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>In addition, Kate is a key advisor to top-level UN technology stakeholders. Kate&#8217;s position allows her to
    extend Microsoft&#8217;s breadth of ICT solutions and services into the core mission of the United Nations to
    develop Shared Value partnerships to extend how we help apply our technology to advance education, transparency,
    capacity and availability of information and services in the developing world.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Chris_Reichart.jpg" alt="Chris Reichart"
                width="250px"/>Chris Reichart, Chief Business Officer, Zerion Software, Inc.</strong></p>
<p>Chris Reichart is the Chief Business Officer of Zerion Software and co-creator of the award winning iFormBuilder
    mobile platform. Chris has over 16 years’ experience in the mobile technology industry, specifically focused on
    business development, technical sales, and user experience. Chris has helped iFormBuilder become the mobile data
    collection platform of choice for accelerating mobile workflows and expanding the user community to more than 125
    countries in the first four years. Chris attended Johns Hopkins University and previously worked at Macromedia and
    IBM.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/John-Muchiri-Muriithi.jpg"
                alt="John Muchiri Muriithi" width="250px"/>John Muchiri Muriithi, Head of Department, Merchant Payments,
        Safaricom</strong></p>
<p>John Muchiri Muriithi is a well-seasoned commercial professional with 15 years’ experience in sales &amp; marketing,
    seven of which have been in the mobile industry mainly dealing with mobile money. John has vast experience in
    distribution set up, strategy formulation, business development, key account management, product management, trade
    marketing, and budget formulation among other vital skills key to providing a comprehensive range of integrated
    telecommunication services.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>He championed the roll out of Lipa Na M-PESA in Kenya and oversaw its growth from initiation to a $200 million turn
    over business per month. In addition, he was responsible for the rollout and growth of the Merchant Model, Surepay
    as a Kenyan payment platform, as well as a number of M-PESA Platform services such as B2B and RTS.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/J_Gage.jpg" alt="D_Owens"/>John Gage, Human Needs
        Project, CWTO &amp; Board Member, Sun Microsystems
    </strong></p>
<p>John Gage was a founder and the Chief Researcher for Sun Microsystems, Inc. and a partner in the venture capital firm
    Kleiner Perkins?Caufield &amp; Byers, where he provided counsel to the firm’s global network of?entrepreneurs,
    scientists, academics, and government leaders.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>John has served on numerous advisory panels and boards, including the: ?US National Research Council; US National
    Academy of?Sciences; National Academy Committee on Scientific Communication and National Security; Markle Task Force
    on National Security; Board of Regents of the US National Library of Medicine; Board of Trustees of Fermi National
    Laboratory; External Advisory?Council for the World Bank; Board of Trustees of the Internet Society (ISOC); United
    Nations Task?Force on Digital Health; Advisory Board of the World-Wide Web Foundation; Advisory Board of?the
    University of Oxford Martin School; Board of the Tegla Loroupe Peace Foundation in Nairobi;?Relief International;
    Human Needs Project; and Malaysian Multimedia Corridor International Advisory Panel.</p>
<p>John did his doctoral work in mathematics and economics at UC Berkeley, then joined Bill Joy as one of?the original
    employees of Sun Microsystems. He created NetDay, the first crowd-sourced initiative to link all 140,000 US schools
    to the Internet in 1996, which continued in Korea, UK, France, Malaysia, Rwanda and other countries. He is an
    advisor in the design of the Obama Presidential Library, to focus on Africa&#8217;s future. He is a member of the
    Mathematical Association of America, the Association for Computing Machinery (ACM), and the Institute of Electrical
    and Electronics Engineers (IEEE).</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/D_Bergvinson.jpg" alt="D_Owens"/>Dr. David
        Bergvinson, Director General, International Crops Research Institute for the Semi-Arid Tropics
        (ICRISAT)</strong></p>
<p>Dr. David Bergvinson is a Canadian national with a PhD in plant biochemistry from Ottawa University. David has over
    20 years of experience in maize breeding, biochemistry, pathology and entomology.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Prior to joining ICRISAT, he was with the International Maize and Wheat Improvement Center (CIMMYT) as Senior
    Scientist (Entomologist) where he received the “Promising Young Scientist” award by CGIAR. He has over 45 refereed
    journal articles and four book chapters on plant biochemistry, host plant resistance in maize, integrated pest
    management and forest entomology. He later worked at the Bill &amp; Melinda Gates Foundation (BMGF) as Senior
    Program Officer in Agriculture Development managing crop improvement grants that involved public (national and
    international) research organizations, private sector and civil society organizations to develop stress-tolerant
    farmer-preferred varieties. In his last three years at BMGF, David led the Digital Design for Agriculture initiative
    to leverage cloud computing, mobile phones, remote sensing and genomics to accelerate the development, delivery and
    adoption of improved agricultural practices and market integration to enhance the profitability of smallholder
    farmers. He initiated the use of Value Chain Framework analysis and country strategies to anchor innovation around
    market demand and using digital technologies as a means to create equitable opportunities for the prosperity of
    smallholder farmers.</p>
<p>Since January 2015, David has led ICRISAT with an emphasis on demand-driven innovation in its mandate crops (sorghum,
    millets, chickpea, pigeonpea and groundnut) across the dryland ecologies of South Asia and sub-Saharan Africa. In
    partnership with governments and strategic partners, ICRISAT has developed country strategies aligned to national
    priorities. Applying cutting-edge science and models for rapidly scaling up adoption of farmer-preferred
    technologies, ICRISAT and its partners are bringing about rural prosperity, diet diversification to improve
    nutrition and restoring natural resources for future generations.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Willy-Bett.jpg" alt="Willy Bett"/>Willy Bett, Cabinet
        Secretary, Ministry of Agriculture, Livestock and Fisheries, Government of the Republic of Kenya</strong></p>
<p>Willy Kipkorir Bett is the Cabinet Secretary, Ministry of Agriculture, Livestock and Fisheries of the Government of
    the republic of Kenya. At the time of his appointment to the Cabinet, Mr. Bett was the Chief Executive Officer,
    Kenya Seed Company, a position he held for six years (2009-2015). During his tenure, the company’s financial
    performance grew significantly from a turnover of KES 2.9 billion in 2011 to KES 5.0 billion in 2015 with a paradox
    profit of KES 50 million in 2011 to KES 434 million in 2015.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Prior to his tenure at the Kenya Seed Company, Mr. Bett worked with the Post Bank, joining in 1991 as a Management
    Trainee. Due to his excellent performance, he rose through the ranks to the position of Finance Officer (1992-1993),
    Planning Officer (1994-1996), Branch Manager (1996 – 1988), Head of Marketing and Business Development (2001 – 2006)
    and finally to the position of Senior Manager, Money Transfer Services between the years 2006 – 2009. Mr. Bett’s
    tenure at the Bank is defined by several achievements, key amongst which are growth in the remittance business
    through network and product expansion, increased level of customer service across the network from 51% to 80%,
    prudent management of human resources, negotiations of performance contracts and chairing of the Bank’s Personal
    Development Loan department.</p>
<p>Mr. Bett holds a Masters of Business Administration with a major in Marketing and a B.A. in Economics and Sociology
    from the University of Nairobi. Professionally, Mr. Bett has undergone several courses including Banking and
    Finance, Global Remittance System , Market Research, Human Resource Management and the prestigious Advanced
    Management Programme (AMP) jointly organized by Strathmore Business School (Nairobi), Lagos Business School
    (Nigeria) and IESE Business School in Barcelona, Spain. Mr. Bett has also participated actively in several
    conferences in various places in the world amongst which he presented papers on topical issues.</p>
<p>Other positions previously held by Mr. Bett include member of the Board of the National Biosafety Authority (NBA),
    Member of the Board of the Kenya Agricultural Research Institute (KARI), Chairman Board of Governors- Kaptel Boys,
    member of the Board – Kapsabet Girls High School and Chairman – Nandi University Students Association, Vice Chairman
    of the board of the Seed Trade Association of Kenya (STAK) and member of the Project Steering Committee, Double
    Haploid Project under CYMMIT.</p>
<p>Mr. Bett is a professional member of the Kenya Institute of Management.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Janet-Mumo-2.jpg" alt="Janet Mumo"/>Janet Mumo, CEO,
        Kitui Development Centre</strong></p>
<p>Janet Syombua Mumo facilitated the establishment of the Kitui Development Centre (KDC) which covers the lower Eastern
    Province of Kenya. KDC is a capacity building organization which helps the community help themselves through rural
    development activities benefiting over 20,000 poor and vulnerable communities.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Janet also facilitated the formation and registration of the Kitui Enterprise Promotion Company (KEP) in 2012, a
    for-profit entity processing mango juice/concentrate and mango powder for fortification of flour to add nutrition
    value. The main objective of the Company is to increase incomes from commercialized agricultural value chains to
    improve livelihoods of small scale farmers in Kitui County by utilizing appropriate technologies, knowledge, skills
    and abilities. It works in partnership with over 800 farmers, Kitui county government, private investors, financial
    institutions and other like-minded organization</p>
<p>In addition, Janet facilitated formation and registration of the Nguku Producer and Marketing Co-operative Society in
    2014, Nzama Cooperative in 2013, the Gisuka Federation in 2013 and the Desert Lilly Women’s Group in 2008</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/05/Shaun_Ferris.jpg" alt="Dr. Shaun Ferris"/>Dr. Shaun
        Ferris, Director of Agricultural Livelihoods, Catholic Relief Services</strong></p>
<p>Over the past 22 years, Dr. Shaun Ferris has spent 16 years with the Consultative Group for International
    Agricultural Research and the past 8 years with Catholic Relief Services (CRS).?During this time, Shaun has also
    worked with several major agencies on short and longer term projects including USAID, the World Bank, USDA, FAO,
    UNCTAD, DFID, IFAD and various country programs and projects.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>In his current position, Shaun focuses on supporting smallholder farmers along the pathway to prosperity as part of
    CRS’ Signature Program Area of Agriculture. His work at CRS also focuses on building the agro-enterprise capacity of
    field staff, finding ways of generating value at the farm level through new combinations of skills acquisition,
    technology and market opportunity identification, and finding ways to improve information use and trading
    relationships. Shaun is currently working with a cross-agency team on generating agro-enterprise content for
    cloud-based distance learning systems and creating farmer-facing business tools using ICT solutions. Shaun holds a
    Bachelor’s in Horticultural Science from Reading University, a Master’s in Tropical Agriculture from Nottingham
    University and a PhD in Plant Physiology from Cranfield University.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Zebby-Simiyu.jpg" alt="Zebby B. A. Simiyu"/>Zebby B.
        A. Simiyu, Executive Director, Good Neighbors Community Development Initiative (GNCDI)</strong></p>
<p>Zebby Simiyu is involved in empowering both small-scale farmers, individuals, and institutions with appropriate
    skills and knowledge in producing and marketing high quality horticultural produce. She works directly with farmer
    groups promoting horticultural products and marketing the same through the Good Neighbors Enterprises.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/R_Vachon-1.jpg" alt="R_Vachon"/>Reginald I. Vachon,
        Ph.D. P.E., Eur. Ing., Chairman SMA</strong></p>
<p>Dr. Reginald Vachon is a Board Member of the World Federation of Engineering Organizations (WFEO), a Vice President
    of the North America Pan American Union of Engineering Organizations and a member of the Pan American Academy of
    Engineering and the International Nuclear Energy Academy.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>He chairs the WFEO UN Relations Committee. He is the former chair of the American Association of Engineering
    Societies (AAES) and currently leads their International Committee.? He participated in the U.S. Department of
    Homeland Security Science and Technology Committee for seven years.</p>
<p>Reginald has worked as an engineer in the private sector with DuPont, Thiokol, and Hayes Aircraft, as well as with a
    number of US Government organizations. As an aerospace technologist at NASA, he directed multi-disciplinary groups
    of scientists, economists and engineers. He designed /built EPA solar powered 720Wp Transportable Units and a 4.1Kwp
    PV System. At the US Strategic Petroleum Reserve, he played an instrumental role in laying out US future energy
    growth plans.</p>
<p>Reginald has published over 200 papers and reports and has received special recognition in the &#8220;Wonder of
    Engineering in 1975&#8221;, &#8220;Who&#8217;s Who in the World&#8221; and?8 other registers.? He received the
    American Society for Engineering Education award for Outstanding M.E. Professor and Western Electric’s award for
    “Outstanding Professor”.? He holds a Bachelor of Engineering, MS in Nuclear Science, Ph.D. in Aerospace / Mechanical
    Engineering, MS in Strategic Planning and an LL.B.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/JohnGarrity.jpg" alt="R_Vachon"/>John Garrity, Global
        Government Affairs &amp; Technology Policy Advisor, Cisco</strong></p>
<p>John Garrity is Cisco&#8217;s Global Policy Advisor in the Global Technology Policy group, managing government
    engagement and policy research. John is responsible for data-driven analysis on broadband connectivity issues
    contributing to the expansion of fixed and wireless networks, including national broadband agendas, Internet
    protocol network traffic and Internet governance.
<div class="short_content_box">
    <div class="short_content"></p>
<p>With over ten years of experience in economic development in the state, national, international and private sector
    arenas, John engages governments and other private and public sector partners on the implementation of policies that
    leverage the potential of information and communication technologies (ICTs) and network connectivity for economic
    growth, competitiveness, and social inclusion.</p>
<p>He is recognized internationally as an expert on broadband economics, with numerous publications and reports written
    with the World Economic Forum, the UN International Telecommunications Union and the World Bank. He is frequently
    asked to speak on ICTs and growth across Asia, Africa and the Americas.</p>
<p>Previously, John was Strategy Manager in Cisco&#8217;s Strategy and Economics group, helping to guide strategic
    direction of the Emerging Markets business unit with geographic market coverage of over 130 countries, 2,500
    personnel and US$7.5 billion in annual revenue. Before joining Cisco in 2006, John worked at the World Bank in the
    Corporate Strategy Group, and has held positions in the U.S. Federal Trade Commission as well as in state
    government. He holds a Master’s degree in Applied Economics from Ohio State University.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong>
        <a href="/wp-content/uploads/2015/11/DavidGadsden.jpg" rel="attachment wp-att-615"><img
                    class="size-full wp-image-615 alignleft" src="/wp-content/uploads/2015/11/DavidGadsden.jpg"
                    alt="DavidGadsden" width="242" height="244"
                    srcset="http://www.ict4dconference.org/wp-content/uploads/2015/11/DavidGadsden.jpg 242w, http://www.ict4dconference.org/wp-content/uploads/2015/11/DavidGadsden-150x150.jpg 150w"
                    sizes="(max-width: 242px) 100vw, 242px"/></a>David Gadsden, Director, Nonprofit Sector,
        Esri</strong></p>
<p>David Gadsden leads Esri&#8217;s Nonprofit Sector which supports Nonprofits, Foundations, and International
    Organizations globally. David is also the administrator of the Nonprofit Organization Program which aims to empower
    nonprofits around the globe with Esri technology.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>David earned a BA in Geography from the University of Washington in 1995 with an emphasis in GIS, after which he
    served as an environmental volunteer with the US Peace Corps from 1996-1998. Over his career David has applied GIS
    technology to environmental, social science, public safety, and construction engineering challenges while working
    for a number of commercial and non-profit organizations. David joined Esri in 2002 and has since advised communities
    on diverse topics ranging from disaster relief, environmental conservation and management, tribal governance,
    international development and diplomacy, energy transmission, enterprise system design and national and
    organizational spatial data infrastructures. David is a technical advisor to the Bill and Melinda Gates Foundation.
    </div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/D_Otwoma.jpg" alt=""/>Dr. David Otwoma, Chief Science
        Secretary, National Commission for Science Technology and Innovation, Ministry of Education, Science and
        Technology, Nairobi, Kenya </strong></p>
<p>Dr. David Otwoma is the current Chairman of the Eastern Africa Association for Radiation Protection. He holds a PhD
    in Radiation Physics, an MSc in Nuclear Science and a BSc in Physics and also lectures at the Technical University
    of Kenya.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Currently he is the Chief Science Secretary at the National Commission for Science, Technology and Innovation. He was
    Secretary (Nuclear) in the Ministry of Energy and Petroleum seconded to the Nuclear Electricity Project (2011-2013),
    he served as the Chief Science Secretary at the National Council for Science and Technology (2007-2011) and was a
    Nuclear Safeguards Inspector at the International Atomic Energy Agency (IAEA) in Vienna Austria (1999-2006). From
    1988-1998 he was Senior Radiation Protection Officer at the Radiation Protection Board.</p>
<p>Dr. Otwoma impressive portfolio of awards includes the 2005 Nobel Peace Prize as IAEA SG staff shared with the IAEA
    Director General Dr. M. El Baradei, and the Kenya National Commission for Science, Technology and Innovation award
    in 2013 in recognition for research contributions on both national and international levels to the R&amp;D in
    Radiation Protection Dosimetry.</p>
<p>In 2014 he participated in the production of a technopolicy brief titled “Mainstreaming Gender in the National
    Science, Technology and Innovation Policy in Kenya”. This brief and his paper titled “Challenges and Opportunities
    as Kenya Grapples with How to Introduce a Nuclear Regulator”, published in ESI Africa’s Power Journal, formed part
    of the discussion in the August 2015 Eastern Africa Power Industry Convention. He also spoke on “How is the Price of
    Generation Sources Influencing the Attractiveness of Power Plants Powered by Imported Coal and Nuclear?” at the
    EAPIC function. He sits on the Advisory Boards of the African Utility Week and the Eastern Africa Power Industry
    Convention.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/L_Woodman.jpg" alt=""/>Lauren Woodman, Chief
        Executive Officer, NetHope </strong></p>
<p>Lauren Woodman is the Chief Executive Officer of NetHope, where she drives the organization’s aggressive movement to
    put advanced connective technologies in the hands of nonprofits whose work can be magnified by its power.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>It is her primary goal to spark the tech world’s interest in the NGO community and the developing world, all in the
    name of harnessing technology to advance humanitarian work worldwide.</p>
<p>Lauren’s entire career has been defined by the intersection of tech, development and policy, driven by a passion to
    use technology to solve difficult international problems. With a graduate degree in foreign policy from Johns
    Hopkins School of Advanced International Studies, Lauren has worked in a variety of high-level positions: in policy
    at the United Nations, as an executive at the Software and Information Industry Association, and, for more than a
    decade, running Microsoft Corporation’s global education and government programs, all leading to her leadership role
    at NetHope in 2014.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/R_Basu.jpg" alt=""/>Dr. Radha Basu, Chief Executive
        Officer, iMerit Technology Services </strong></p>
<p>Dr. Radha Basu is a leading tech and social enterprise entrepreneur and pioneer in the Indian software business. She
    is Founder and CEO of iMerit, and co-founder of Anudip Foundation &#8211; iMerit&#8217;s sister foundation.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Through iMerit and Anudip, Radha uses her experience in technology management to holistically address one of the
    world’s most pressing challenges &#8211; youth unemployment &#8211; while meeting the needs of global companies and
    NGOs. iMerit has employed hundreds of marginalized women and youth in digital and data services who contribute to
    growing industries ranging from virtual/augmented reality, to the sharing economy, to e-commerce and financial
    services.</p>
<p>Before founding iMerit and Anudip, Radha served as Chairman and CEO of SupportSoft, leading the company through
    initial and secondary public offerings in 2000 and 2003, and building it into a worldwide market leader in
    supporting automation software.
    Prior to SupportSoft, Radha spent 20 years at Hewlett Packard, most recently as Senior General Manager of the
    Electronic Business Software Organization, which she grew to a global $1.2 billion business. Radha&#8217;s career at
    HP began as she founded the company&#8217;s operations in India and set up the first software center of any
    multinational in Bangalore.</p>
<p>Radha currently sits on the boards of NetHope, Jhumki Basu Foundation, and the Miller Center for Social
    Entrepreneurship of Santa Clara University (SCU) and is Founder of the Frugal Innovation Lab of SCU.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="size-full wp-image-613 alignleft" src="/wp-content/uploads/2015/11/MaryMwangi.jpg"
                alt="MaryMwangi" width="250" height="250"
                srcset="http://www.ict4dconference.org/wp-content/uploads/2015/11/MaryMwangi.jpg 250w, http://www.ict4dconference.org/wp-content/uploads/2015/11/MaryMwangi-150x150.jpg 150w"
                sizes="(max-width: 250px) 100vw, 250px"/>Mary Mwangi, East Africa Chapter Manager, Aspen Network of
        Development Entrepreneurs (ANDE) </strong></p>
<p>Mary Mwangi has developed an extensive network in East Africa which she continues to leverage to connect ANDE members
    in the region. Previously she worked with the African Venture Capital Association (AVCA). Mary is passionate about
    development entrepreneurship and while pursuing her Masters, she authored a research report on the efficacy of
    tertiary education and business development services in promoting and supporting youth entrepreneurship in
    Kenya.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>She holds an MBA with a concentration in Entrepreneurship from United States International University, Chandaria
    Business School and a B.A in Communication and Political Science from the University of Nairobi. She is currently
    pursuing a Master’s degree in Public Policy and Management at Strathmore University. Through iMerit and Anudip,
    Radha uses her experience in technology management to holistically address one of the world’s most pressing
    challenges &#8211; youth unemployment &#8211; while meeting the needs of global companies and NGOs. iMerit has
    employed hundreds of marginalized women and youth in digital and data services who contribute to growing industries
    ranging from virtual/augmented reality, to the sharing economy, to e-commerce and financial services.</p>
<p>Before founding iMerit and Anudip, Radha served as Chairman and CEO of SupportSoft, leading the company through
    initial and secondary public offerings in 2000 and 2003, and building it into a worldwide market leader in
    supporting automation software.
    Prior to SupportSoft, Radha spent 20 years at Hewlett Packard, most recently as Senior General Manager of the
    Electronic Business Software Organization, which she grew to a global $1.2 billion business. Radha&#8217;s career at
    HP began as she founded the company&#8217;s operations in India and set up the first software center of any
    multinational in Bangalore.</p>
<p>Radha currently sits on the boards of NetHope, Jhumki Basu Foundation, and the Miller Center for Social
    Entrepreneurship of Santa Clara University (SCU) and is Founder of the Frugal Innovation Lab of SCU.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="size-full wp-image-613 alignleft" src="/wp-content/uploads/2016/04/Bitange-Ndemo.jpg" alt=""/>Dr.
        Bitange Ndemo, Associate Professor, Business School, University of Nairobi </strong></p>
<p>Dr. Bitange Ndemo is a former Permanent Secretary of Kenya’s Ministry of Information and Communication. After his
    tenure with the Government, he returned to the University of Nairobi where he is an Associate Professor at the
    Business School. Dr. Ndemo holds a PhD in Industrial Economics from the University of Sheffield in the UK and an MBA
    and bachelor’s degree in Finance from the Universities of St. Thomas and Minnesota respectively. He is the immediate
    past Honorary Chair of the Alliance for Affordable Internet (A4AI) and an Advisor to the Better than Cash Alliance,
    a global initiative to digitize payments. He has developed a keen interest in big data analytics and
    visualization.</p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/A_Labrique.jpg" alt=""/>Alain B. Labrique, PhD, MHS,
        MS, Director, Johns Hopkins University Global Health Initiative &amp; Associate Professor Department of
        International Health /Epidemiology at Johns Hopkins Bloomberg School of Public Health, Department of
        Community-Public Health at Johns Hopkins School of Nursing, and Division of Health Sciences Informatics at Johns
        Hopkins School of Medicine</strong></p>
<p>Dr. Alain Labrique is the founding director of the Johns Hopkins University Global mHealth Initiative, a
    multi-disciplinary Center of Excellence of over 140 projects engaged in mHealth innovation and research across the
    Johns Hopkins system.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>An infectious disease epidemiologist with training in molecular biology and over a decade of field experience running
    large population-based research studies in low and middle-income countries, he holds joint appointments in the
    Department of Epidemiology, Bloomberg School of Public Health, the Department of Community-Public Health in the
    School of Nursing and the Division of Health Informatics at the School of Medicine of the Johns Hopkins University
    in Baltimore, Maryland.</p>
<p>In addition to teaching and training students and faculty at Hopkins and as a Visiting Professor at institutions in
    Bangladesh and China, Alain is lead investigator for several research projects measuring the impact of mobile
    information and communications technologies on improving maternal, neonatal and infant health in resource-limited
    settings. He was recognized as one of the Top 11 mHealth Innovators in 2011 by the Rockefeller Foundation and the UN
    Foundation and was a lead author on a Bellagio Declaration on mHealth Evidence. His work on mHealth strategies for
    health system strengthening remains among the most cited mHealth resources in the scientific literature.</p>
<p>Alain serves as an mHealth and Technical Advisor to several international and global health agencies and Ministries
    of Health including the World Health Organization, GSMA, USAID, the mHealth Alliance and HealthEnabled. He serves as
    the current Chair of the WHO mHealth Technical Evidence Review Group (mTERG), a technical body convened to advise
    governments on mHealth investments. Alain received a Presidential Excellence in Advising Award for teaching and
    mentoring students at the Bloomberg School, as he and his team strive to develop mortality reduction strategies for
    resource-limited settings. He is also actively engaged in designing and validating diagnostic and public health
    technologies, and is the inventor of a number of patented diagnostic and anthropometric devices.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/MagnusMordu.jpg" alt=""/>Magnus Mordu Conteh, MHSc
        Hons, MA, Director of Global Health Programmes, Strategic Partnerships and Innovation, World Vision</strong></p>
<p>Magnus Mordu Conteh joined World Vision Ireland in 2011 as the Health Program Coordinator for an Irish Aid-funded
    Maternal Newborn and Child Health Program that is being implemented through the Ministries of Health in Kenya,
    Uganda, Tanzania, Mauritania and Sierra Leone.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>In addition to managing this program, his current position involves the development and management of global health
    programs, establishing strategic partnerships with government ministries, donors, INGOs and technology adoption into
    World Vision Ireland’s supported programs. He is also leading World Vision’s involvement in the Janssen/Johnson
    &amp; Johnson Ebola Vaccine trial currently underway in Sierra Leone and serves as a member of the World Vision
    International Digital Health Steering Committee.</p>
<p>Magnus has worked with various projects, universities and governmental agencies in Africa, the UK and Ireland for
    over 25 years and has held a number of senior management positions in the National Health Services (NHS) of the UK
    and the Health Service Executive (HSE) in Ireland.</p>
<p>He is passionate about community centered health systems strengthening in resource poor countries and leveraging
    digital health solutions in the implementation of Community Health Worker Program.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/GarrettMehl.jpg" alt="" width="250px"/>Dr. Garrett
        Mehl, Scientist, World Health Organization </strong></p>
<p>Dr. Garrett Mehl leads work on digital innovations for reproductive, maternal and child health at WHO. This includes
    evidence synthesis as manager of the WHO Technical and Evidence Review Group on mHealth for Reproductive, Maternal,
    Newborn and Child Health (mTERG), and as WHO implementation research lead in the WHO UN Foundation partnership for
    scale-up of mHealth solutions through the “UN EWEC IWG Catalytic Scale-up Grant Program for mHealth”.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Additionally, he is the principal scientist coordinating the THRIVE (Technologies for Health Registries, Information,
    and Vital Events) Consortium multisite research trial of the Open Smart Register Platform (OpenSRP) for improving
    quality and coverage of essential RMNCH interventions across the continuum of care. Previously, Garrett worked at
    the Rockefeller Foundation, the World Bank, Johns Hopkins University, and the International Eye Foundation. Dr Mehl
    holds doctoral and master’s degrees in International Health and has lived and worked on health in low income
    countries for over 15 years.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/SalimHussein.jpg" alt="" width="250px"/>Dr. Salim
        Hussein, Head of Community Health Unit, Ministry of Health, Kenya </strong></p>
<p>As Head of the Community Health Unit at the Ministry of Health in Kenya, Dr. Salim Hussein sets policy, guidelines
    and standards for community health, and oversees the Community Health Information Based Information system and the
    implementation of the monitoring &amp; evaluation plan. Prior to his role as the head of community health, Dr.
    Hussein held the position of Deputy Head of the Division of Health Promotion in the Ministry of Health.
<div class="short_content_box">
    <div class="short_content">As Deputy Head, he coordinated and supervised preventive services in the government,
        NGOs, and private health facilities in Marsabit District, which is the second largest district in Kenya. He was
        the District Medical Officer for the Marsabit District and has also been the Medical Officer in Charge for the
        Makindu sub-district hospital.</p>
<p>Dr. Hussein received a Bachelor of Medicine and Bachelor of Surgery from the University of Nairobi. Foday has a M.
    Sc. in Development Studies and a B.Sc in Public Health Nutrition as well as postgraduate certificates in Policy
    Analysis, Planning, Surveillance, Monitoring and Evaluation, and Management.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/P_OBrien.jpg" alt=""/>Paul O’Brien, J.D., Vice
        President for Policy and Campaigns, Oxfam
        America</strong></p>
<p>Dr. Paul O&#8217;Brien is the Vice President for Policy and Campaigns at Oxfam America where he oversees research,
    policy, advocacy, and campaigning work to influence the US government and US corporations.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Before joining Oxfam in 2007, he lived in Afghanistan for five years where he worked in the Office of the President
    and the Ministry of Finance as an advisor on aid coordination, development planning, and policy reform. Prior to
    that, he worked for CARE International as their Afghanistan Advocacy Coordinator and Africa Policy Advisor.</p>
<p>Previously, Paul was the President of the Echoing Green Foundation and a litigator in New York for Cravath, Swaine
    and Moore.? He is the co-founder of the Legal Resources Foundation in Kenya and the founder of the Human Rights
    Research and Advocacy Consortium in Afghanistan, both of which are thriving organizations today. Paul has a juris
    doctorate from Harvard Law School and has published on humanitarian policy, human rights, and emerging trends in
    development.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong>
        <a href="/wp-content/uploads/2015/11/ChristopherWellise.jpg" rel="attachment wp-att-612"><img
                    class="size-full wp-image-612 alignleft" src="/wp-content/uploads/2015/11/ChristopherWellise.jpg"
                    alt="ChristopherWellise" width="250" height="250"
                    srcset="http://www.ict4dconference.org/wp-content/uploads/2015/11/ChristopherWellise.jpg 250w, http://www.ict4dconference.org/wp-content/uploads/2015/11/ChristopherWellise-150x150.jpg 150w"
                    sizes="(max-width: 250px) 100vw, 250px"/></a>Christopher Wellise, Director of Strategic Initiatives,
        HPE Living Progress Challenge, Hewlett Packard Enterprise</strong></p>
<p>Christopher Wellise is passionate about drawing upon his experience in business and science/engineering to analyze
    how organizations innovate, develop and market products; consume energy and natural resources; and produce waste
    streams, to find ways to bring businesses closer to economic, social and environmental sustainability.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>As part of the HPE Corporate Affairs organization, the Living Progress Initiatives team is committed to increasing
    HPE’s brand value and business success through social investment programs that are aligned with the overall business
    strategy. The overarching objective is to create a better future for everyone through their actions and innovations.
    It’s the way that people and technology come together to solve society’s toughest challenges. Christopher directs a
    team that is focused on solving social and environmental issues in collaboration with non-profit organizations,
    governments, customers and partners. Together they create solutions that improve communities and advance human,
    economic and environmental progress.</p>
<p>Prior to that, Christopher was the Global Stakeholder Engagement lead for the Hewlett Packard Company, and was
    responsible for advancing the HP environmental brand and reputation with key influencers and developing relationship
    strategies with NGOs, regional sustainability luminaries, consumer influencers, academics, policy makers and HP
    executive leadership.</p>
<p>Under Christopher’s management, HP’s carbon disclosure went from 66/100 to 100/100 and ‘A’ for performance in CDP
    within three years, and engagement across the company up to the CEO reached a new level. He advanced HP’s corporate
    strategy in climate, forestry and water and spear-headed the first utility scale renewable energy deal at HP
    resulting in powering all of HP’s own global IT data center operations with wind energy in Texas.</p>
<p>Prior to HP, Christopher worked at Green Environment Inc. as a Vice President where he led environmental due
    diligence efforts for leading Bay Area corporate and private equity clients involved in M&amp;A activity.
    Christopher also led a global software and hardware certification and branding program at Sun Microsystems focused
    on energy efficiency and interoperability. He began his career at the U.S. Department of Interior (USGS Water
    Resources Division) as a physical/environmental scientist where he researched the effects of public investment in
    pollution treatment technology on near-shore ecosystems, and synergistic effects of industrial and agricultural
    pollutants.</p>
<p>He has expertise in a broad variety of corporate sustainability concepts and leadership practices, and solid
    understanding of the challenges and opportunities for multinational companies related to sustainable development,
    strategy, innovation, brand building, transparency and reporting. Christopher has a Bachelor of Science degree in
    Finance from San Diego State University and a Master of Science degree in Environmental Studies from San Jose State
    University.
    </div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong>
        <a href="/wp-content/uploads/2015/11/RyanJohnson.jpg" rel="attachment wp-att-614"><img
                    class="size-full wp-image-614 alignleft" src="/wp-content/uploads/2015/11/RyanJohnson.jpg"
                    alt="RyanJohnson" width="249" height="249"
                    srcset="http://www.ict4dconference.org/wp-content/uploads/2015/11/RyanJohnson.jpg 249w, http://www.ict4dconference.org/wp-content/uploads/2015/11/RyanJohnson-150x150.jpg 150w"
                    sizes="(max-width: 249px) 100vw, 249px"/></a>Ryan Johnson, Global Client Services Director,
        Accenture Development Partnerships</strong></p>
<p>Ryan Johnson is the Global Client Services Director for Accenture Development Partnerships. Ryan has 17 years of
    experience in strategy development and program delivery with national and international corporations, governments,
    Non-Governmental Organizations and foundations.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Ryan has over 9 years of experience in the International Development sector and has worked on cross-sector
    partnerships, strategy engagements and program implementation in Africa, Asia, Europe and North America. Ryan has
    deep experience working with NGOs and foundations across their strategic, operational and technology challenges.</p>
<p>Recently, Ryan served as the first Director of Foundation and Corporate Engagement at Catholic Relief Services (CRS)
    while on a two-year secondment from Accenture. Ryan led the development and implementation of CRS&#8217;s
    agency-level corporate engagement strategy, design and mobilization of cross-sector partnerships, field capacity
    building and information management and communications. He oversaw a team responsible for institutional relationship
    management with the agency&#8217;s 21 largest foundation donors and also led the agency&#8217;s entrance into impact
    investing. Ryan&#8217;s work at CRS covered a spectrum of interaction that included philanthropy, cross-sector
    partnership, shared value creation and social impact investment in support of agriculture, health, emergency
    response, education and water-related programming. These efforts sought to advance CRS&#8217;s work to assist the
    poor and vulnerable overseas, and help to achieve program impact, innovation, scale and sustainability beyond what
    any one organization could achieve on its own.</p>
<p>Ryan has contributed to thought leadership such as the book Building a Better International NGO: Greater than the Sum
    of the Parts? and Accenture&#8217;s Convergence Economy: Rethinking International Development in a Converging World.
    Ryan led the design and planning for the first Vatican Impact Investing Conference, which CRS co-convened in Rome in
    June 2014 with the Pontifical Council for Justice and Peace and the University of Notre Dame. The Vatican Impact
    Investing Conference included leaders from the Catholic Church, USAID, the Social Impact Investment Taskforce
    established by the G8, Omidyar Network, Goldman Sachs and over 40 other organizations. The conference has launched
    an expanded discussion about the potential ways the Church might create or invest in impact investments to serve the
    poor around the world.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/03/Kate-Wilson-Picture.jpg"
                alt="Kate Wilson, Chief Executive Officer, Digital Impact Alliance"/>Kate Wilson, Chief Executive
        Officer, Digital Impact Alliance</strong></p>
<p>Kate Wilson has been advising companies on market entry strategies in emerging markets for over 25 years. She joins
    the Digital Impact Alliance (DIAL) from PATH, the Seattle-based international health organization driving
    transformative innovation to save lives. She previously served as PATH’s Director, Digital Health Solutions, a group
    she co-founded in 2009 based on a belief that information and communication technology (ICT) was the next essential
    health tool that could change decades long paradigms of poor health services delivery in the developing world.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>At PATH, Kate led a global team to support PATH’s work in health information systems analysis, design and delivery.
    She led PATH programs and initiatives in areas as diverse as delivery of immunization services to the design of
    appropriate health information systems for universal health coverage, working with countries in both Africa and
    Asia.</p>
<p>Kate joined PATH in September 2007 in a strategic planning, business development and partnership role after
    successful careers in international trade and the commercial software industry. In the private sector, Kate focused
    for over 10 years on new ICT product development and launch, strategic planning and business development for
    companies such as Microsoft, Intel, and General Electric. Her work in the commercial sector included leading new
    product development planning; designing and managing consumer launch strategy for software and hardware products;
    developing and running an international product launch team across fourteen countries in Europe; as well as leading
    a global business development group that designed replicable commercial models and negotiated agreements with
    telecom providers in over 24 markets worldwide.</p>
<p>Prior to time in the commercial sector, Kate worked in international trade for nine years as the President of the
    Washington Council on International Trade and the Director for Indonesia Affairs at the U.S. ASEAN Council. At both
    organizations, she partnered closely with U.S. corporations and government partners to strike mutually beneficial
    international trade agreements and expand market access for small and medium size enterprises.</p>
<p>Kate holds an M.B.A. and an M.A. in Southeast Asian studies from the University of Michigan, Ann Arbor, and a B.A. in
    international relations from the College of William and Mary. She has worked directly in more than 15 countries
    across three continents, including more than nine years working in and with Southeast Asian economies. She has
    spoken widely at conferences and on television, and is the author of several papers on the use of ICT in emerging
    economies.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/05/Kate-Wilson.jpg" alt="Nicole Barnes"/>Nicole Barnes,
        Vice President, Business Strategy and Communications, RTI International</strong></p>
<p>Nicole Barnes is the Vice President, Business Strategy and Communications, for the International Development Group
    (IDG) at RTI International. Nicole has worked in international development for 19 years, including 11 years working
    overseas on long-term assignments. Her overseas experience includes technical project work in India, Indonesia,
    Montenegro, Pakistan, South Africa and Uganda.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Nicole has also worked extensively in India, Indonesia, Jordan, the Philippines and South Africa on RTI’s strategic
    positioning and business development. She has held both long- and short-term assignments for the US Agency for
    International Development (USAID) and its contractors, the World Bank, and the Asian Development Bank (ADB). She has
    extensive experience in working with host country counterparts.</p>
<p>Nicole’s technical experience is rooted in numerous elements of public finance. In multiple countries she has worked
    on education finance, implementing local governance support programs, urban service delivery, fiscal
    decentralization, own-source financing for local government, intergovernmental grants and local economic
    development. Her leadership and managerial skills include strategic positioning and planning, client and partner
    engagement and relationship building, project design and implementation, proposal leadership, contractor monitoring,
    and team building and staff management.</p>
<p>Nicole has a Master’s degree in city planning from the Massachusetts Institute of Technology and a Bachelor’s degree
    in global studies from the University of Iowa.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Jamie-Drummond.jpg" alt="Jamie Drummond"/>Jamie
        Drummond, Executive Director and Global Strategy, ONE</strong></p>
<p>Jamie Drummond co-founded the advocacy organization DATA (debt, AIDS, trade, Africa) with Bono, Bobby Shriver, and
    others in 2002 and ONE in 2004. The two entities merged in 2008 under the name ONE. DATA, ONE, and its partners
    helped persuade the Bush Administration and bipartisan leadership in the US Congress to launch a series of
    initiatives for Africa including the Millennium Challenge Account, the President’s Emergency AIDS initiative, the
    Malaria Initiative, Multilateral Debt Relief, and the African Growth and Opportunity Act.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Through the G8, DATA, with partners, helped negotiate and advocate for a new high-water mark of promises at the 2005
    Summit, involving a doubling of aid promised for Africa by 2010, including improvements in aid quality.</p>
<p>Jamie was formerly global strategist for Jubilee 2000 “drop the debt” and, prior to that, worked at Christian Aid. He
    has traveled widely in Africa and Asia and has a Masters in Development from the London School of Oriental and
    African Studies. In 2007, Jamie was elected a Young Global Leader by the World Economic Forum.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<p>&nbsp;</p>
<p><strong><img class="alignleft" src="/wp-content/uploads/2016/04/Annemarie-Reilly.jpg" alt="Annemarie Reilly"/>Annemarie
        Reilly, Executive Vice President, Strategy and Organizational Development, Catholic Relief Services</strong></p>
<p>As CRS’s executive vice president for Strategy and Organizational Development, Annemarie Reilly is responsible for
    leading the Agency’s strategy development, implementation and measurement across all divisions; leading the agency’s
    organizational development efforts to advance operational excellence; and, providing oversight for the Office of
    Legal Counsel.</p>
<p>
<div class="short_content_box">
    <div class="short_content"></p>
<p>Annemarie joined CRS in 1992 in El Salvador, primarily working in the health sector. She advanced to senior
    management positions in Haiti, Burundi and Liberia, managing challenging programs in complex emergency
    environments.</p>
<p>As the agency&#8217;s first emergency response advisor, she helped create CRS&#8217; emergency response team (ERT) in
    1999 and became its first team leader. The ERT responds to crises and provides strategic planning, technical
    expertise and training to CRS country programs to respond to humanitarian needs and build the agency&#8217;s overall
    emergency preparedness and response capacity.</p>
<p>After three years as regional director for Southern Africa, Annemarie became director of overseas operations
    strategy, leading development of an agency-wide, five-year emergency preparedness and response strategic plan. She
    then became chief of staff to the President of CRS through 2009, guiding agency strategy implementation,
    organizational learning and staff safety and security, following which she was vice president for overseas
    operations.</p>
<p>Annemarie holds a B.A. in government and French from the University of Notre Dame and a master&#8217;s in
    international affairs from the Columbia University School of International and Public Affairs.</p>
<p></div><span class="short_content_show">Read more</span></div></p>
<div class="clear"></div>
<div id="nav-below"
     class="navigation"></div><!-- #nav-below -->                                    </div><!-- .entry-content -->
</div><!-- #post-## -->
<div id="comments">

    <!-- You can start editing here. -->


</div>
</div>
</div>

<div class="clear"></div>

<div class="footer_top_lines">
    <div class="row bg-orange conference-contact">
        <div class="container">
            <a href="mailto:ICT4DMail@crs.org"><h2 class="text-center">Contact conference organizer <i
                            class="fa fa-envelope-o fa-3"></i></h2></a>
        </div>
    </div>
    <div class="row bg-blue twitter-container">
        <div class="container"></div>
    </div>
</div>

<div id="footer" class="footer">
    <div class="container first">
        <div class="col-md-12 footer-logo">
            <a href="/" title="Home">
                <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/2016_ICT4D_RGB.png">
            </a>
        </div>
    </div>
    <div class="container sponsors-footer">
        <h2 class="text-center title">Special thanks to our 2016 sponsors</h2>
        <!--            <div class="sponsors">-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--                <div></div>-->
        <!--            </div>-->
        <div class="table sponsors-images-footer">
            <div class="table-cell">
                <a href="https://www.crs.org" target="_blank" title="Catholic Relief Services">
                    <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/logo-crs.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="https://www.hpe.com" target="_blank" title="Hewlett Packard Enterprise ">
                    <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/hewlett_packard_enterprise_logo.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="https://www.microsoft.com/" target="_blank" title="Microsoft">
                    <img src="/wp-content/uploads/2015/12/MSFT_logo_png.png">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://nethope.org/" target="_blank" title="NetHope">
                    <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/NetHope_Logo.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="https://www.oxfam.org/" target="_blank" title="Oxfam">
                    <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/OX_HL_C_RGB.jpg">
                </a>
            </div>
        </div>

        <div class="table sponsors-images-footer">
            <div class="table-cell">
                <a href="http://www.rti.org/" target="_blank" title="RTI International">
                    <img style="max-height: 45px;max-width: 300px"
                         src="/wp-content/uploads/2016/01/RTI_logo-e1454076684499.png">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://www.wirelessreach.com" target="_blank" title="Qualcomm">
                    <img style="max-height: 45px;max-width: 300px" src="/wp-content/uploads/2016/03/Qualcomm_Logo.jpg">
                </a>
            </div>
        </div>

        <div class="table sponsors-images-footer">
            <div class="table-cell">
                <a href="https://www.accenture.com" target="_blank" title="Accenture">
                    <img src="/wp-content/uploads/2015/12/accenture-logo.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://www.esri.com/" target="_blank">
                    <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/esri_logo.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://www.inmarsat.com/" target="_blank">
                    <img src="/wp-content/uploads/2016/04/Inmarsat-Logo.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://wvi.org/" target="_blank" title="World vision">
                    <img src="http://www.ict4dconference.org/wp-content/themes/cfl/images/wv_logo.jpg">
                </a>
            </div>
        </div>

        <div class="table sponsors-images-footer">
            <div class="table-cell">
                <a href="http://www.makingallvoicescount.org/" target="_blank" title="MAVC">
                    <img src="/wp-content/uploads/2016/03/MAVC_Logo.jpg">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://www.simbanet.net/" target="_blank" title="SimbaNET ">
                    <img src="/wp-content/uploads/2016/05/simbanet.png">
                </a>
            </div>
            <div class="table-cell">
                <a href="http://www.is.co.za/" target="_blank" title="Internet Solutions">
                    <img src="/wp-content/uploads/2016/05/IS-logo.jpg">
                </a>
            </div>
        </div>


        <div class="menu-footer">
            <div id="footermenu" class="menu-footer-menu-container">
                <ul id="menu-footer-menu" class="menu">
                    <li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80">
                        <a href="http://www.ict4dconference.org/about/">About</a></li>
                    <li id="menu-item-643"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-643"><a
                                href="http://www.ict4dconference.org/press/">Participants</a></li>
                    <li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79">
                        <a href="http://www.ict4dconference.org/agenda/">Agenda</a></li>
                    <li id="menu-item-78"
                        class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-12 current_page_item menu-item-78">
                        <a href="http://www.ict4dconference.org/speakers/">Speakers</a></li>
                    <li id="menu-item-776"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-776"><a
                                href="http://www.ict4dconference.org/exhibitors/">Exhibitors</a></li>
                    <li id="menu-item-161"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-161"><a
                                href="http://www.ict4dconference.org/challenges/">Challenge</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom-box">
            <div class="col-sm-8">
                <a href="mailto:ICT4DMail@crs.org">Contact conference organizer <i
                            class="fa fa-envelope-o fa-3"></i></a>
            </div>
            <div class="col-sm-4 text-right">
                <a href="/archive/" class="archive_link">ICT4D ARCHIVE</a>
                <!--                    <form method="POST" action="" class="signup-footer">-->
                <!--                        <div>-->
                <!--                            <input type="text" placeholder="Email" required>-->
                <!--                            <button type="submit">-->
                <!--                                <i class="fa fa-envelope"></i>-->
                <!--                            </button>-->
                <!--                        </div>-->
                <!--                    </form>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}